div(class="about-block")
    div(class="subtitle subtitle_bg_yellow")
        div(class="container")
            h2(class="subtitle__title") О нашем строительном сервисе
            span(class="subtitle__txt") Почему мы даем такие скидки на материалы и услуги
    div(class="container about-block__container")
        ul(class="about-block__list")
            li(class="about-block__list-item")
                div(class="about-block__title")
                    div(class="about-block__number") 1
                    h3 Мы являемся партнерами производств, заводов и магазинов
                p(class="about-block__txt") Тем самым мы можем согласовывать дополнителные скидки и покупать напрямую от производителя без лишних рук, магазинов и перекупов.
            li(class="about-block__list-item")
                div(class="about-block__title")
                    div(class="about-block__number") 2
                    h3 Нам предоставляют оптовые и дилерский цены  
                p(class="about-block__txt") Иногда сложной найти производство нужного материала и получить оптовую цену на небольшие закупки. Теперь это можно доверить нам!
            li(class="about-block__list-item")
                div(class="about-block__title")
                    div(class="about-block__number") 3
                    h3 Оплата идет по факту получения материала
                p(class="about-block__txt") Большие фирмы, работая с нами много лет, дают возможность отложенного платежа! Тем самым, Вы никогда не рискуете при покупке стройматериалов.
            li(class="about-block__list-item")
                div(class="about-block__title")
                    div(class="about-block__number") 4
                    h3 Сотрудничаем со строительными фирмами, прорабами
                p(class="about-block__txt") Всегда можем порекомендовать отличных испольнителей в любой строительной сфере и предоставить дополнительные скидки на их услуги.
        img(src="img/icons/hotSales.svg", alt="stroysales лучшие скидки", class="about-block__banner")