.advantages.container#advantages   
    .advantages__grid  
        .advantages__grid-item
            picture.advantages__img
                source(type="image/webp"  srcset="img/advantages/1.webp")
                img(src="img/advantages/1.png" alt="Все для загородного домастроения" loading="lazy")
            button(class="button advantages__btn", data-form="связаться с нами") связаться с нами
        .advantages__grid-item
            picture.advantages__img
                source(type="image/webp"  srcset="img/advantages/3.webp")
                img(src="img/advantages/3.png" alt="вся линейка продукции ISOVER по индивидуальным ценам" loading="lazy")
            button(class="button advantages__btn", data-form="получить прайс") получить прайс
        .advantages__grid-item
            picture.advantages__img
                img(src="img/icons/rockwool.svg" alt="Скидки на продукцию rockwool" loading="lazy")
            button(class="button advantages__btn", data-form="получить прайс") получить прайс
        .advantages__grid-item
            picture.advantages__img
                source(type="image/webp"  srcset="img/advantages/4.webp")
                img(src="img/advantages/4.png" alt="Оптовые поставки на многоэтажную застройку" loading="lazy")
            button(class="button advantages__btn", data-form="связаться с нами") связаться с нами
