div(class="categories-block", id="categories")
    div(class="subtitle")
        div(class="container")
            h2(class="subtitle__title") Категории строительных материалов
            span(class="subtitle__txt") Минимальная скидка на все категории <b>5%</b> и до <b>40%</b> в зависимости от производителя
    div(class="categories-block__grid categories-block__grid_short container")
        div(class="categories-block__grid-item")
            div(class="categories-block__cat-name")
                div(class="categories-block__cat-icon")
                    img(src="img/icons/material.svg", alt="Общестроительные материалы")
                a(href="javascript:;", class="categories-block__cat-title")  
                    h2 Общестроительные материалы
            div(class="categories-block__subcats-list-wrap")
                ul(class="categories-block__subcats-list categories-block__subcats-list_short")
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Винтовые сваи и комплектующие
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Кирпич
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Строительные блоки
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Тротуарная плитка, бордюры, решетки
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Цемент и инертные материалы
                button(class="categories-block__show-all") 
                    span Все подкатегории
        div(class="categories-block__grid-item")
            div(class="categories-block__cat-name")
                div(class="categories-block__cat-icon")
                    img(src="img/icons/suhie.svg", alt="Сухие строительные смеси и гидроизоляция")
                a(href="javascript:;", class="categories-block__cat-title")  
                    h2 Сухие строительные смеси
            div(class="categories-block__subcats-list-wrap")
                ul(class="categories-block__subcats-list categories-block__subcats-list_short")
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Кладочные и монтажные смеси
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Клей для плитки
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Ровнители для пола
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Смеси для кладки печей и каминов
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Цементно-песчаные смеси
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Шпаклевки
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Штукатурки
                button(class="categories-block__show-all") 
                    span Все подкатегории
        div(class="categories-block__grid-item")
            div(class="categories-block__cat-name")
                div(class="categories-block__cat-icon")
                    img(src="img/icons/teploishym.svg", alt="Теплоизоляция и шумоизоляция")
                a(href="javascript:;", class="categories-block__cat-title")  
                    h2 Теплоизоляция и шумоизоляция
            div(class="categories-block__subcats-list-wrap")
                ul(class="categories-block__subcats-list categories-block__subcats-list_short")
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Паро-ветро-гидро изоляция
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Теплоизоляция
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Шумоизоляция и виброизоляция
        div(class="categories-block__grid-item")
            div(class="categories-block__cat-name")
                div(class="categories-block__cat-icon")
                    img(src="img/icons/suhiematerialy.svg", alt="Материалы для сухого строительства")
                a(href="javascript:;", class="categories-block__cat-title")  
                    h2 Материалы для сухого строительства
            div(class="categories-block__subcats-list-wrap")
                ul(class="categories-block__subcats-list categories-block__subcats-list_short")
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Листовые материалы и аксессуары
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Профиль для гипсокартона и аксессуары
        div(class="categories-block__grid-item")
            div(class="categories-block__cat-name")
                div(class="categories-block__cat-icon")
                    img(src="img/icons/krovla.svg", alt="Кровля, сайдинг, водосточные системы")
                a(href="javascript:;", class="categories-block__cat-title")  
                    h2 Кровля/сайдинг
            div(class="categories-block__subcats-list-wrap")
                ul(class="categories-block__subcats-list categories-block__subcats-list_short")
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Водосточные системы
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Материалы для плоской кровли
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Материалы для скатной кровли
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Профнастил и лист оцинкованный
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Сайдинг и фасадные панели
                button(class="categories-block__show-all") 
                    span Все подкатегории
        div(class="categories-block__grid-item")
            div(class="categories-block__cat-name")
                div(class="categories-block__cat-icon")
                    img(src="img/icons/lacokras.svg", alt="Лакокрасочные материалы")
                a(href="javascript:;", class="categories-block__cat-title")  
                    h2 Лакокрасочные материалы
            div(class="categories-block__subcats-list-wrap")
                ul(class="categories-block__subcats-list categories-block__subcats-list_short")
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Антисептики
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Водно-дисперсионные краски
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Готовая шпаклевка
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Грунтовки
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Декоративная штукатурка
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Добавки в бетон
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Колеры
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Лаки
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Масло
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Масляные краски
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Растворители и очистители
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Эмали
                button(class="categories-block__show-all") 
                    span Все подкатегории
        div(class="categories-block__grid-item")
            div(class="categories-block__cat-name")
                div(class="categories-block__cat-icon")
                    img(src="img/icons/glue.svg", alt="Пены, клеи, герметики")
                a(href="javascript:;", class="categories-block__cat-title")  
                    h2 Пены/клеи
            div(class="categories-block__subcats-list-wrap")
                ul(class="categories-block__subcats-list categories-block__subcats-list_short")
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Герметики
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Клей, жидкие гвозди
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Пена
        div(class="categories-block__grid-item")
            div(class="categories-block__cat-name")
                div(class="categories-block__cat-icon")
                    img(src="img/icons/keramica.svg", alt="Керамическая плитка и затирки")
                a(href="javascript:;", class="categories-block__cat-title")  
                    h2 Керамогранит/плитка
            div(class="categories-block__subcats-list-wrap")
                ul(class="categories-block__subcats-list categories-block__subcats-list_short")
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Затирки для плитки
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Керамическая плитка
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Керамогранит
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Мозаика
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Расходные материалы для укладки плитки
                button(class="categories-block__show-all") 
                    span Все подкатегории
        div(class="categories-block__grid-item")
            div(class="categories-block__cat-name")
                div(class="categories-block__cat-icon")
                    img(src="img/icons/krepej.svg", alt="Крепеж")
                a(href="javascript:;", class="categories-block__cat-title")  
                    h2 Крепеж
            div(class="categories-block__subcats-list-wrap")
                ul(class="categories-block__subcats-list categories-block__subcats-list_short")
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Анкера
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Гвозди
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Дюбели и дюбель-гвозди
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Заклепки
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Крепеж для деревянных конструкций
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Крепеж для окон
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Крепеж для фасадных систем
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Кровельный крепеж
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Метрический крепеж
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Настенные кронштейны
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Саморезы и шурупы
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Скрытый крепеж
                button(class="categories-block__show-all") 
                    span Все подкатегории
    button(class="button categories-block__more") ЕЩЁ КАТЕГОРИИ