div(class="categories-block")
    div(class="subtitle")
        div(class="container")
            h2(class="subtitle__title") Категории
            span(class="subtitle__txt") Минимальная скидка на все категории <b>5%</b> и до <b>40%</b> в зависимости от производителя
    div(class="categories-block__grid container")
        div(class="categories-block__grid-item")
            div(class="categories-block__cat-name")
                div(class="categories-block__cat-icon")
                    img(src="img/icons/electricks.svg", alt="Электрика")
                div(class="categories-block__cat-title") 
                   h2 
                    a(href="javascript:;") Электрика
            div(class="categories-block__subcats-list-wrap")
                ul(class="categories-block__subcats-list categories-block__subcats-list_short")
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Автоматы, щиты и счетчики
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Всё для электромонтажа
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Лампы
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Автоматы, щиты и счетчики
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Всё для электромонтажа
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Лампы
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Автоматы, щиты и счетчики
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Всё для электромонтажа
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Лампы
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Автоматы, щиты и счетчики
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Всё для электромонтажа
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Лампы
                button(class="categories-block__show-all") 
                    span Все подкатегории
        div(class="categories-block__grid-item")
            div(class="categories-block__cat-name")
                div(class="categories-block__cat-icon")
                    img(src="img/icons/electricks.svg", alt="Электрика")
                div(class="categories-block__cat-title") 
                   h2 
                    a(href="javascript:;") Электрика
            div(class="categories-block__subcats-list-wrap")
                ul(class="categories-block__subcats-list categories-block__subcats-list_short")
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Автоматы, щиты и счетчики
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Всё для электромонтажа
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Лампы
                button(class="categories-block__show-all") 
                    span Все подкатегории
        div(class="categories-block__grid-item")
            div(class="categories-block__cat-name")
                div(class="categories-block__cat-icon")
                    img(src="img/icons/electricks.svg", alt="Электрика")
                div(class="categories-block__cat-title") 
                   h2 
                    a(href="javascript:;") Электрика
            div(class="categories-block__subcats-list-wrap")
                ul(class="categories-block__subcats-list categories-block__subcats-list_short")
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Автоматы, щиты и счетчики
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Всё для электромонтажа
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Лампы
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Автоматы, щиты и счетчики
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Всё для электромонтажа
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Лампы
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Автоматы, щиты и счетчики
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Всё для электромонтажа
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Лампы
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Автоматы, щиты и счетчики
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Всё для электромонтажа
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Лампы
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Автоматы, щиты и счетчики
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Всё для электромонтажа
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Лампы
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Автоматы, щиты и счетчики
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Всё для электромонтажа
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Лампы
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Автоматы, щиты и счетчики
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Всё для электромонтажа
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Лампы
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Автоматы, щиты и счетчики
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Всё для электромонтажа
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Лампы
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Автоматы, щиты и счетчики
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Всё для электромонтажа
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Лампы
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Автоматы, щиты и счетчики
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Всё для электромонтажа
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Лампы
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Автоматы, щиты и счетчики
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Всё для электромонтажа
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Лампы
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Автоматы, щиты и счетчики
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Всё для электромонтажа
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Лампы
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Автоматы, щиты и счетчики
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Всё для электромонтажа
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Лампы
                button(class="categories-block__show-all") 
                    span Все подкатегории
        div(class="categories-block__grid-item")
            div(class="categories-block__cat-name")
                div(class="categories-block__cat-icon")
                    img(src="img/icons/electricks.svg", alt="Электрика")
                div(class="categories-block__cat-title") 
                   h2 
                    a(href="javascript:;") Электрика
            div(class="categories-block__subcats-list-wrap")
                ul(class="categories-block__subcats-list categories-block__subcats-list_short")
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Автоматы, щиты и счетчики
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Всё для электромонтажа
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Лампы
                button(class="categories-block__show-all") 
                    span Все подкатегории
        div(class="categories-block__grid-item")
            div(class="categories-block__cat-name")
                div(class="categories-block__cat-icon")
                    img(src="img/icons/electricks.svg", alt="Электрика")
                div(class="categories-block__cat-title") 
                   h2 
                    a(href="javascript:;") Электрика
            div(class="categories-block__subcats-list-wrap")
                ul(class="categories-block__subcats-list categories-block__subcats-list_short")
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Автоматы, щиты и счетчики
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Всё для электромонтажа
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Лампы
                button(class="categories-block__show-all") 
                    span Все подкатегории
        div(class="categories-block__grid-item")
            div(class="categories-block__cat-name")
                div(class="categories-block__cat-icon")
                    img(src="img/icons/electricks.svg", alt="Электрика")
                div(class="categories-block__cat-title") 
                   h2 
                    a(href="javascript:;") Электрика
            div(class="categories-block__subcats-list-wrap")
                ul(class="categories-block__subcats-list categories-block__subcats-list_short")
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Автоматы, щиты и счетчики
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Всё для электромонтажа
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Лампы
                button(class="categories-block__show-all") 
                    span Все подкатегории
        div(class="categories-block__grid-item")
            div(class="categories-block__cat-name")
                div(class="categories-block__cat-icon")
                    img(src="img/icons/electricks.svg", alt="Электрика")
                div(class="categories-block__cat-title") 
                   h2 
                    a(href="javascript:;") Электрика
            div(class="categories-block__subcats-list-wrap")
                ul(class="categories-block__subcats-list categories-block__subcats-list_short")
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Автоматы, щиты и счетчики
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Всё для электромонтажа
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Лампы
                button(class="categories-block__show-all") 
                    span Все подкатегории
        div(class="categories-block__grid-item")
            div(class="categories-block__cat-name")
                div(class="categories-block__cat-icon")
                    img(src="img/icons/electricks.svg", alt="Электрика")
                div(class="categories-block__cat-title") 
                   h2 
                    a(href="javascript:;") Электрика
            div(class="categories-block__subcats-list-wrap")
                ul(class="categories-block__subcats-list categories-block__subcats-list_short")
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Автоматы, щиты и счетчики
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Всё для электромонтажа
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Лампы
                button(class="categories-block__show-all") 
                    span Все подкатегории
        div(class="categories-block__grid-item")
            div(class="categories-block__cat-name")
                div(class="categories-block__cat-icon")
                    img(src="img/icons/electricks.svg", alt="Электрика")
                div(class="categories-block__cat-title") 
                   h2 
                    a(href="javascript:;") Электрика
            div(class="categories-block__subcats-list-wrap")
                ul(class="categories-block__subcats-list categories-block__subcats-list_short")
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Автоматы, щиты и счетчики
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Всё для электромонтажа
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Лампы
                button(class="categories-block__show-all") 
                    span Все подкатегории
    button(class="button categories-block__more") ЕЩЁ КАТЕГОРИИ
