div(class="categories-block", id="categories")
    div(class="subtitle")
        div(class="container")
            h2(class="subtitle__title") Категории
            span(class="subtitle__txt") Минимальная скидка на все категории <b>5%</b> и до <b>40%</b> в зависимости от производителя
    div(class="categories-block__grid categories-block__grid_short container")
        div(class="categories-block__grid-item")
            div(class="categories-block__cat-name")
                div(class="categories-block__cat-icon")
                    img(src="img/icons/material.svg", alt="Общестроительные материалы")
                a(href="javascript:;", class="categories-block__cat-title")  
                    h2 Общестроительные материалы
            div(class="categories-block__subcats-list-wrap")
                ul(class="categories-block__subcats-list categories-block__subcats-list_short")
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Винтовые сваи и комплектующие
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Железобетонные изделия
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Заборы и ограждения
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Защитные сетки и пленки
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Кирпич
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Пазогребневые плиты и аксессуары
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Поликарбонат и комплектующие
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Строительные блоки
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Тротуарная плитка, бордюры, решетки
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Цемент и инертные материалы
                button(class="categories-block__show-all") 
                    span Все подкатегории
        div(class="categories-block__grid-item")
            div(class="categories-block__cat-name")
                div(class="categories-block__cat-icon")
                    img(src="img/icons/metal.svg", alt="Металлопрокат")
                a(href="javascript:;", class="categories-block__cat-title")  
                   h2 Металлопрокат
            div(class="categories-block__subcats-list-wrap")
                ul(class="categories-block__subcats-list categories-block__subcats-list_short")
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Арматура и комплектующие
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Двутавр
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Закладные детали
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Квадрат стальной
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Лист стальной
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Металлический уголок
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Полоса стальная
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Рифленые алюминиевые листы
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Сетки армирующие
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Трубы ВГП и электросварные
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Трубы профильные стальные
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Швеллер стальной
                button(class="categories-block__show-all") 
                    span Все подкатегории
        div(class="categories-block__grid-item")
            div(class="categories-block__cat-name")
                div(class="categories-block__cat-icon")
                    img(src="img/icons/suhie.svg", alt="Сухие строительные смеси и гидроизоляция")
                a(href="javascript:;", class="categories-block__cat-title")  
                   h2 Сухие строительные смеси и гидроизоляция
            div(class="categories-block__subcats-list-wrap")
                ul(class="categories-block__subcats-list categories-block__subcats-list_short")
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Гидроизоляция
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Кладочные и монтажные смеси
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Клей для плитки
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Ремонтные составы
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Ровнители для пола
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Системы утепления фасадов
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Смеси для кладки печей и каминов
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Цементно-песчаные смеси
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Шпаклевки
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Штукатурки
                button(class="categories-block__show-all") 
                    span Все подкатегории
        div(class="categories-block__grid-item")
            div(class="categories-block__cat-name")
                div(class="categories-block__cat-icon")
                    img(src="img/icons/teploishym.svg", alt="Теплоизоляция и шумоизоляция")
                a(href="javascript:;", class="categories-block__cat-title")  
                   h2 Теплоизоляция и шумоизоляция
            div(class="categories-block__subcats-list-wrap")
                ul(class="categories-block__subcats-list categories-block__subcats-list_short")
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Изоляция в инженерных системах
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Теплоизоляция
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Шумоизоляция и виброизоляция
        div(class="categories-block__grid-item")
            div(class="categories-block__cat-name")
                div(class="categories-block__cat-icon")
                    img(src="img/icons/suhiematerialy.svg", alt="Материалы для сухого строительства")
                a(href="javascript:;", class="categories-block__cat-title")  
                   h2 Материалы для сухого строительства
            div(class="categories-block__subcats-list-wrap")
                ul(class="categories-block__subcats-list categories-block__subcats-list_short")
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Комплектующие для штукатурных работ и выравнивания полов
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Листовые материалы и аксессуары
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Профиль для гипсокартона и аксессуары
        div(class="categories-block__grid-item")
            div(class="categories-block__cat-name")
                div(class="categories-block__cat-icon")
                    img(src="img/icons/drevesnoplit.svg", alt="Древесно-плитные материалы")
                a(href="javascript:;", class="categories-block__cat-title")  
                   h2 Древесно-плитные материалы
            div(class="categories-block__subcats-list-wrap")
                ul(class="categories-block__subcats-list categories-block__subcats-list_short")
                    li(class="categories-block__subcat")
                        a(href="javascript:;") ДВП
                    li(class="categories-block__subcat")
                        a(href="javascript:;") ДСП
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Изоплат
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Мебельные щиты
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Плиты OSB-3
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Фанера
                    li(class="categories-block__subcat")
                        a(href="javascript:;") ЦСП (Цементно-стружечная плита)
                button(class="categories-block__show-all") 
                    span Все подкатегории
        div(class="categories-block__grid-item")
            div(class="categories-block__cat-name")
                div(class="categories-block__cat-icon")
                    img(src="img/icons/pilomaterial.svg", alt="Пиломатериалы")
                a(href="javascript:;", class="categories-block__cat-title")  
                    h2 Пиломатериалы
            div(class="categories-block__subcats-list-wrap")
                ul(class="categories-block__subcats-list categories-block__subcats-list_short")
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Брус
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Брусок
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Вагонка
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Доска
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Изделия из древесины
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Изделия из древесно-полимерного композита
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Лестницы и комплектующие
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Погонажные изделия
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Полок для бани
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Профильные изделия
                button(class="categories-block__show-all") 
                    span Все подкатегории
        div(class="categories-block__grid-item")
            div(class="categories-block__cat-name")
                div(class="categories-block__cat-icon")
                    img(src="img/icons/electricks.svg", alt="Электроинструмент и комплектующие")
                a(href="javascript:;", class="categories-block__cat-title")  
                   h2 Электроинструмент и комплектующие
            div(class="categories-block__subcats-list-wrap")
                ul(class="categories-block__subcats-list categories-block__subcats-list_short")
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Бензоинструмент и принадлежности
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Газовое и сварочное оборудование
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Измерительные инструменты
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Расходные материалы к электроинструменту
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Силовая, строительная техника и комплектующие
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Электроинструмент
                button(class="categories-block__show-all") 
                    span Все подкатегории
        div(class="categories-block__grid-item")
            div(class="categories-block__cat-name")
                div(class="categories-block__cat-icon")
                    img(src="img/icons/krovla.svg", alt="Кровля, сайдинг, водосточные системы")
                a(href="javascript:;", class="categories-block__cat-title")  
                   h2 Кровля, сайдинг, водосточные системы
            div(class="categories-block__subcats-list-wrap")
                ul(class="categories-block__subcats-list categories-block__subcats-list_short")
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Водосточные системы
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Гидро-пароизоляция
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Мансардные окна
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Материалы для плоской кровли
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Материалы для скатной кровли
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Профнастил и лист оцинкованный
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Сайдинг и фасадные панели
                button(class="categories-block__show-all") 
                    span Все подкатегории
        div(class="categories-block__grid-item")
            div(class="categories-block__cat-name")
                div(class="categories-block__cat-icon")
                    img(src="img/icons/lacokras.svg", alt="Лакокрасочные материалы")
                a(href="javascript:;", class="categories-block__cat-title")  
                   h2 Лакокрасочные материалы
            div(class="categories-block__subcats-list-wrap")
                ul(class="categories-block__subcats-list categories-block__subcats-list_short")
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Антисептики
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Водно-дисперсионные краски
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Готовая шпаклевка
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Грунтовки
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Декоративная штукатурка
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Добавки в бетон
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Колеры
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Лаки
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Масло
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Масляные краски
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Растворители и очистители
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Эмали
                button(class="categories-block__show-all") 
                    span Все подкатегории
        div(class="categories-block__grid-item")
            div(class="categories-block__cat-name")
                div(class="categories-block__cat-icon")
                    img(src="img/icons/glue.svg", alt="Пены, клеи, герметики")
                a(href="javascript:;", class="categories-block__cat-title")  
                   h2 Пены, клеи, герметики
            div(class="categories-block__subcats-list-wrap")
                ul(class="categories-block__subcats-list categories-block__subcats-list_short")
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Герметики
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Клей, жидкие гвозди
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Пена
        div(class="categories-block__grid-item")
            div(class="categories-block__cat-name")
                div(class="categories-block__cat-icon")
                    img(src="img/icons/keramica.svg", alt="Керамическая плитка и затирки")
                a(href="javascript:;", class="categories-block__cat-title")  
                   h2 Керамическая плитка и затирки
            div(class="categories-block__subcats-list-wrap")
                ul(class="categories-block__subcats-list categories-block__subcats-list_short")
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Затирки для плитки
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Керамическая плитка
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Керамогранит
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Мозаика
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Расходные материалы для укладки плитки
                button(class="categories-block__show-all") 
                    span Все подкатегории
        div(class="categories-block__grid-item")
            div(class="categories-block__cat-name")
                div(class="categories-block__cat-icon")
                    img(src="img/icons/finish.svg", alt="Финишная отделка стен и потолков")
                a(href="javascript:;", class="categories-block__cat-title")  
                   h2 Финишная отделка стен и потолков
            div(class="categories-block__subcats-list-wrap")
                ul(class="categories-block__subcats-list categories-block__subcats-list_short")
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Карнизы, рулонные шторы, жалюзи, комплектующие
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Обои
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Панели для отделки стен и комплектующие
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Потолочные системы
                button(class="categories-block__show-all") 
                    span Все подкатегории
        div(class="categories-block__grid-item")
            div(class="categories-block__cat-name")
                div(class="categories-block__cat-icon")
                    img(src="img/icons/napolnie.svg", alt="Напольные покрытия")
                a(href="javascript:;", class="categories-block__cat-title")  
                   h2 Напольные покрытия
            div(class="categories-block__subcats-list-wrap")
                ul(class="categories-block__subcats-list categories-block__subcats-list_short")
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Искусственная трава
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Коврики придверные
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Ковролин
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Ламинат
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Линолеум и аксессуары
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Напольные плинтусы
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Паркетная доска
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Плитка ПВХ
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Подложка под напольные покрытия
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Порожки, обводы
                button(class="categories-block__show-all") 
                    span Все подкатегории
        div(class="categories-block__grid-item")
            div(class="categories-block__cat-name")
                div(class="categories-block__cat-icon")
                    img(src="img/icons/door.svg", alt="Двери, окна, скобяные изделия")
                a(href="javascript:;", class="categories-block__cat-title")  
                   h2 Двери, окна, скобяные изделия
            div(class="categories-block__subcats-list-wrap")
                ul(class="categories-block__subcats-list categories-block__subcats-list_short")
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Двери межкомнатные
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Двери металлические
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Дверные коробки и комплектующие
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Мебельная фурнитура
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Межкомнатные арки
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Окна, рамы, москитные сетки, комплектующие
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Подоконники
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Скобяные изделия
                button(class="categories-block__show-all") 
                    span Все подкатегории
        div(class="categories-block__grid-item")
            div(class="categories-block__cat-name")
                div(class="categories-block__cat-icon")
                    img(src="img/icons/santeh.svg", alt="Инженерная сантехника")
                a(href="javascript:;", class="categories-block__cat-title")  
                   h2 Инженерная сантехника
            div(class="categories-block__subcats-list-wrap")
                ul(class="categories-block__subcats-list categories-block__subcats-list_short")
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Водоснабжение
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Газоснабжение
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Дренажные системы
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Изоляция для труб
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Канализационные люки
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Канализация
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Ревизионные люки
                button(class="categories-block__show-all") 
                    span Все подкатегории
        div(class="categories-block__grid-item")
            div(class="categories-block__cat-name")
                div(class="categories-block__cat-icon")
                    img(src="img/icons/otopitel.svg", alt="Отопительное и насосное оборудование")
                a(href="javascript:;", class="categories-block__cat-title")  
                   h2 Отопительное и насосное оборудование
            div(class="categories-block__subcats-list-wrap")
                ul(class="categories-block__subcats-list categories-block__subcats-list_short")
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Насосное оборудование и аксессуары
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Отопление
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Печное оборудование
        div(class="categories-block__grid-item")
            div(class="categories-block__cat-name")
                div(class="categories-block__cat-icon")
                    img(src="img/icons/santeh.svg", alt="Сантехника")
                a(href="javascript:;", class="categories-block__cat-title")  
                   h2 Сантехника
            div(class="categories-block__subcats-list-wrap")
                ul(class="categories-block__subcats-list categories-block__subcats-list_short")
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Ванны и экраны
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Душевые кабины и ограждения
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Мебель для ванной комнаты
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Мойки и смесители для кухни
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Полотенцесушители и комплектующие
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Раковины, пьедесталы и комплектующие
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Сифоны
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Смесители и душевое оборудование
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Унитазы и инсталляции
                button(class="categories-block__show-all") 
                    span Все подкатегории
        div(class="categories-block__grid-item")
            div(class="categories-block__cat-name")
                div(class="categories-block__cat-icon")
                    img(src="img/icons/electric.svg", alt="Электрика")
                a(href="javascript:;", class="categories-block__cat-title")  
                   h2 Электрика
            div(class="categories-block__subcats-list-wrap")
                ul(class="categories-block__subcats-list categories-block__subcats-list_short")
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Автоматы, щиты и счетчики
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Всё для электромонтажа
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Лампы
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Розетки и выключатели
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Светильники и прожекторы
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Системы наблюдения и оповещения
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Телекоммуникация
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Удлинители, сетевые разъемы и комплектующие
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Фонари и элементы питания
                button(class="categories-block__show-all") 
                    span Все подкатегории
        div(class="categories-block__grid-item")
            div(class="categories-block__cat-name")
                div(class="categories-block__cat-icon")
                    img(src="img/icons/cabel.svg", alt="Кабель и аксессуары")
                a(href="javascript:;", class="categories-block__cat-title")  
                   h2 Кабель и аксессуары
            div(class="categories-block__subcats-list-wrap")
                ul(class="categories-block__subcats-list categories-block__subcats-list_short")
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Кабели и провода
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Системы прокладки кабеля
        div(class="categories-block__grid-item")
            div(class="categories-block__cat-name")
                div(class="categories-block__cat-icon")
                    img(src="img/icons/climat.svg", alt="Климатическое оборудование")
                a(href="javascript:;", class="categories-block__cat-title")  
                   h2 Климатическое оборудование
            div(class="categories-block__subcats-list-wrap")
                ul(class="categories-block__subcats-list categories-block__subcats-list_short")
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Вентиляция
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Осушители
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Системы обогрева
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Системы охлаждения
                button(class="categories-block__show-all") 
                    span Все подкатегории
        div(class="categories-block__grid-item")
            div(class="categories-block__cat-name")
                div(class="categories-block__cat-icon")
                    img(src="img/icons/sadovie.svg", alt="Ручной инструмент, спецодежда, хозтовары")
                a(href="javascript:;", class="categories-block__cat-title")  
                   h2 Ручной инструмент, спецодежда, хозтовары
            div(class="categories-block__subcats-list-wrap")
                ul(class="categories-block__subcats-list categories-block__subcats-list_short")
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Абразивные материалы
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Высотные конструкции
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Измерительный инструмент
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Инструмент для газобетона
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Малярный инструмент
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Расходные материалы, хозтовары
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Спецодежда и средства защиты
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Столярно-слесарный инструмент
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Строительные емкости
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Ударно-рычажный инструмент
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Штукатурно-отделочный инструмент
                button(class="categories-block__show-all") 
                    span Все подкатегории
        div(class="categories-block__grid-item")
            div(class="categories-block__cat-name")
                div(class="categories-block__cat-icon")
                    img(src="img/icons/krepej.svg", alt="Крепеж")
                a(href="javascript:;", class="categories-block__cat-title")  
                   h2 Крепеж
            div(class="categories-block__subcats-list-wrap")
                ul(class="categories-block__subcats-list categories-block__subcats-list_short")
                    li(class="categories-block__subcat")
                            a(href="javascript:;") Анкера
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Гвозди
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Дюбели и дюбель-гвозди
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Заклепки
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Крепеж для деревянных конструкций
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Крепеж для окон
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Крепеж для фасадных систем
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Кровельный крепеж
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Метрический крепеж
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Настенные кронштейны
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Саморезы и шурупы
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Системы хранения
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Скрытый крепеж
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Такелаж
                button(class="categories-block__show-all") 
                    span Все подкатегории
        div(class="categories-block__grid-item")
            div(class="categories-block__cat-name")
                div(class="categories-block__cat-icon")
                    img(src="img/icons/sadovie.svg", alt="Садовые и сезонные товары")
                a(href="javascript:;", class="categories-block__cat-title")  
                   h2 Садовые и сезонные товары
            div(class="categories-block__subcats-list-wrap")
                ul(class="categories-block__subcats-list categories-block__subcats-list_short")
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Емкости, полив
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Моющая техника и аксессуары
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Обустройство сада
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Садовая мебель
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Садовая техника и комплектующие
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Садовый инструмент
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Семена и растения
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Снегоуборочная техника и инвентарь
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Тачки и комплектующие
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Товары для отдыха
                    li(class="categories-block__subcat")
                        a(href="javascript:;") Уход за растениями
                button(class="categories-block__show-all") 
                    span Все подкатегории
    button(class="button categories-block__more") ЕЩЁ КАТЕГОРИИ