head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7,IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Umisoft">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#B29475">
    <meta name="theme-color" content="#B29475">
    <meta name="msapplication-navbutton-color" content="#B29475">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#B29475">
    <meta name="msapplication-navbutton-color" content="#B29475">
    <link  rel="icon"  href="img/icons/flame.svg">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
    link(rel="stylesheet", href="main.scss")
    title storysales