head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7,IE=edge">
    <meta name="description" content="Мы помогаем найти строительные материалы от поставщиков, заводов и магазинов">
    <meta name="keywords" content="">
    <meta name="author" content="Umisoft">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#FFED00">
    <meta name="theme-color" content="#FFED00">
    <meta name="msapplication-navbutton-color" content="#FFED00">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#FFED00">
    <meta name="msapplication-navbutton-color" content="#FFED00">
    <link  rel="icon"  href="img/icons/flame.svg">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800&display=swap" rel="stylesheet">
    link(rel="stylesheet", href="main.scss")
    title Строительный дисконт №1 – В СПб