.logo-slider
    .container
        .swiper-button-prev
            img(src="img/icons/angle_left.svg", alt="alt")
        .swiper-button-next
            img(src="img/icons/angle_right.svg", alt="alt")
        .swiper-container
            .swiper-wrapper
                a(href="full-price.pug").swiper-slide
                    img(src="img/logotypes/isover.jpg", alt="alt")
                a(href="full-price.pug#gyproc").swiper-slide
                    img(src="img/logotypes/gyproc.jpg", alt="alt")
                a(href="full-price.pug#rockwool").swiper-slide
                    img(src="img/logotypes/rockwool.jpg", alt="alt")
                a(href="full-price.pug#penoplex").swiper-slide
                    img(src="img/logotypes/penoplex.jpg", alt="alt")

                