div(class="markets-block", id="markets")
    div(class="subtitle subtitle_bg_yellow")
        div(class="container")
            h2(class="subtitle__title") Магазины
            span(class="subtitle__txt") Список магазинов на которые можем предоставить скидку от <b>5%</b>
    div(class="markets-block__grid container")
        a(href="javascript:;", class="markets-block__item", data-form="ЛеруаМерлин")
            div(class="markets-block__percent markets-block__percent_red") 8%
            img(src="img/icons/brands/Leroy_Merlin.png", alt="", class="markets-block__icon")
        a(href="javascript:;", class="markets-block__item", data-form="Петрович")
            div(class="markets-block__percent markets-block__percent_red") 8%
            img(src="img/icons/brands/Petrovich.png", alt="", class="markets-block__icon")
        a(href="javascript:;", class="markets-block__item", data-form="ИКЕА")
            div(class="markets-block__percent markets-block__percent_red") 8%
            img(src="img/icons/brands/ikea.png", alt="", class="markets-block__icon")
        a(href="javascript:;", class="markets-block__item", data-form="Максидом")
            div(class="markets-block__percent markets-block__percent_red") 8%
            img(src="img/icons/brands/maxidom.png", alt="", class="markets-block__icon")
        a(href="javascript:;", class="markets-block__item", data-form="220Вольт")
            div(class="markets-block__percent") 7%
            img(src="img/icons/brands/volt.png", alt="", class="markets-block__icon")
        a(href="javascript:;", class="markets-block__item", data-form="Вимост")
            div(class="markets-block__percent") 7%
            img(src="img/icons/brands/vimos.png", alt="", class="markets-block__icon")
        a(href="javascript:;", class="markets-block__item", data-form="Сатурн")
            div(class="markets-block__percent") 7%
            img(src="img/icons/brands/saturn.png", alt="", class="markets-block__icon")
        a(href="javascript:;", class="markets-block__item", data-form="ТопХаус")
            div(class="markets-block__percent") 7%
            img(src="img/icons/brands/top_haus.png", alt="", class="markets-block__icon")
        a(href="javascript:;", class="markets-block__item", data-form="Первая Мебельная фабрика")
            div(class="markets-block__percent") 6%
            img(src="img/icons/brands/first_mebel.png", alt="", class="markets-block__icon")
        a(href="javascript:;", class="markets-block__item", data-form="Материк")
            div(class="markets-block__percent") 6%
            img(src="img/icons/brands/materik.png", alt="", class="markets-block__icon")
        a(href="javascript:;", class="markets-block__item", data-form="Метизы")
            div(class="markets-block__percent") 6%
            img(src="img/icons/brands/metizy.png", alt="", class="markets-block__icon")
        a(href="javascript:;", class="markets-block__item", data-form="Оби")
            div(class="markets-block__percent") 6%
            img(src="img/icons/brands/obi.png", alt="", class="markets-block__icon")
    button(class="button markets-block__more", data-form="МАГАЗИНЫ", data-form-placeholder="Какие магазины Вам интересны") ЕЩЁ МАГАЗИНЫ