div(class="markets-block")
    div(class="subtitle subtitle_bg_yellow")
        div(class="container")
            h2(class="subtitle__title") Магазины
            span(class="subtitle__txt") Список магазинов на которые можем предоставить скидку от <b>5%</b>
    div(class="markets-block__grid container")