div(class="news")
    div(class="container")
        div(class="txt-block")
            div(class="txt-block__title") 
                h2(class="subtitle") НОВОСТИ
                a(href="!#", class="txt-block__ghost") Статьи