div(class="products-block", id="products")
    div(class="subtitle subtitle_bg_yellow")
        div(class="container")
            h2(class="subtitle__title") Официальная продукция
            span(class="subtitle__txt") Наш каталог официальной продукции от производителей isover / Weber / Gyproc
    .container
        .products-block__grid
            .products-block__grid-item
                picture.products-block__img-wrap
                    source(type="image/webp" srcset="img/products/1.webp")
                    img.products-block__img(src="img/products/1.jpg" loading="lazy" alt="ТЕПЛЫЕ СТЕНЫ СТРОНГ")
                .products-block__txt 
                    h3.products-block__title ТЕПЛЫЕ СТЕНЫ СТРОНГ - ЦЕНА OT 470P/УП
                    .products-block__subtitle 10 ПЛИТ (1000X610X50)/ 0.305M3 / 6,1M2
                    ul.products-block__list 
                        li.products-block__list-item -Один из лучших коэффициентов теплопроводности - 0.034 Вт.(м*К) - защищает стены от промерзания
                        li.products-block__list-item -Повышенная упругость обеспечивает плотное прилегание утеплителя к неровностям стены и каркасу, не образуя щелей и мостиков холода 
                        li.products-block__list-item -Благодаря способности сжиматься и разжиматься надежно фиксируется в каркасе без крепежа
                        li.products-block__list-item -Утеплитель сохраняет целостность при монтаже: не крошится, не ломается
                        li.products-block__list-item -Негорючий материал, безопасен для здоровья и коружающей среды
                    .products-block__price Цена: 470 руб
                    btn.button.products-block__buy купить
            .products-block__grid-item
                picture.products-block__img-wrap
                    source(type="image/webp" srcset="img/products/2.webp")
                    img.products-block__img(src="img/products/2.jpg" loading="lazy" alt="ИЗОВЕР ПРОФИ")
                .products-block__txt 
                    h3.products-block__title ИЗОВЕР ПРОФИ - ЦЕНА 630Р/УП
                    .products-block__subtitle 4 ПЛИТЫ (4100Х610Х50) / 0,5М3 / 10М2
                    ul.products-block__list 
                        li.products-block__list-item -Оптимально защищает от холода благодаря улучшенному коэффициенту теплопроводности - 0.037
                        li.products-block__list-item -При стандартном шаге каркаса 600мм длина плиты 4100мм позволяет утеплить с минимальным количеством стыков без зазоров и щелей. Достаточно разрезать рулон на 2 равные части
                        li.products-block__list-item -Утеплитель отталкивает влагу лагодаря технологии AquaProtect
                        li.products-block__list-item -Негорючий материал (НГ)
                    .products-block__price Цена: 630 руб
                    btn.button.products-block__buy купить
            .products-block__grid-item
                picture.products-block__img-wrap
                    source(type="image/webp" srcset="img/products/3.webp")
                    img.products-block__img(src="img/products/3.jpg" loading="lazy" alt="KAPKAC П-34")
                .products-block__txt 
                    h3.products-block__title KAPKAC П-34 ПО ЦЕНЕ 1100P ЗА УПАКОВКУ
                    .products-block__subtitle 20 ПЛИТ B УПАКОВКЕ/0.714M3 /14.27M2
                    ul.products-block__list 
                        li.products-block__list-item Повышенная упругость обеспечивает плотное плигание утеплителя к неровностям стены и каркасу, не образуя щелей и мостиков холода
                        li.products-block__list-item -Благодаря способности сжиматься и разжиматься надежно фиксируется в каркасе без крепежа
                        li.products-block__list-item -Утеплитель сохраняет целостность при монтаже: не крошится, не ломается.
                        li.products-block__list-item -Негорючий материал, безопасен для хдоровья и окружающей среды.
                    .products-block__price Цена: 1100 руб
                    btn.button.products-block__buy купить
            .products-block__grid-item
                picture.products-block__img-wrap
                    source(type="image/webp" srcset="img/products/4.webp")
                    img.products-block__img(src="img/products/4.jpg" loading="lazy" alt="Теплый дом-ПЛИТА")
                .products-block__txt 
                    h3.products-block__title Теплый дом-ПЛИТА - цена от 630р/уп
                    .products-block__subtitle 14 плит (1170х610) / 0,5м3 / 10м2
                    ul.products-block__list 
                        li.products-block__list-item -Тепло-звукоизоляционная минераловатная плита на основе кварца
                        li.products-block__list-item -5см минеральной ваты = 9  5см кирпичной стены
                        li.products-block__list-item -Эффективное рещение для всестороннего утепления и звукоизоляции дома одним продуктом
                        li.products-block__list-item -НЕгорючий материал (НГ)
                    .products-block__price Цена: 630 руб
                    btn.button.products-block__buy купить
            .products-block__grid-item
                picture.products-block__img-wrap
                    source(type="image/webp" srcset="img/products/5.webp")
                    img.products-block__img(src="img/products/5.jpg" loading="lazy" alt="ПАРОИЗОЛЯЦИЯ ПАРАНЕТ (В)")
                .products-block__txt 
                    h3.products-block__title ПАРОИЗОЛЯЦИЯ ПАРАНЕТ (В) - цена 1280р/рулон (70м2)
                    ul.products-block__list 
                        li.products-block__list-item -двухслойная пароизоляция, которая устанавливается изнутри помещения и надежно защищает конструкцию от проникновения пара изнутри и образования грибка и плесени
                        li.products-block__list-item -отличное качество по разумной цене
                        li.products-block__list-item -долговечность конструкции благодаря высокой механической прочности
                    .products-block__price Цена: 1280 руб
                    btn.button.products-block__buy купить
            .products-block__grid-item
                picture.products-block__img-wrap
                    source(type="image/webp" srcset="img/products/6.webp")
                    img.products-block__img(src="img/products/6.jpg" loading="lazy" alt="ГИДРАНЕТ (D)")
                .products-block__txt 
                    h3.products-block__title ГИДРАНЕТ (D) - цена 1660р/рулон (70м2)
                    ul.products-block__list 
                        li.products-block__list-item -универсальная паро-гидроизоляция. Может применяться как гидроизоляция утеплённых и неутепленных скаьных кровель, а также в качестве гидроизоляции перекрытий по бетонному основанию.
                        li.products-block__list-item -универсальная защита от влаги снаружи, от пара изнутри
                        li.products-block__list-item -возможность использовать в качестве гидроизоляции кровель без монтажа оьлицовочного материала до 2х месяцев
                    .products-block__price Цена: 1660 руб
                    btn.button.products-block__buy купить
            .products-block__grid-item
                picture.products-block__img-wrap
                    source(type="image/webp" srcset="img/products/7.webp")
                    img.products-block__img(src="img/products/7.jpg" loading="lazy" alt="ВЕТРАНЕТ (АМ)")
                .products-block__txt 
                    h3.products-block__title ВЕТРАНЕТ (АМ) - цена 3100р/рулон (70м2)
                    ul.products-block__list 
                        li.products-block__list-item -трехслойная гидро-ветрозащитная мембрана, выводит конденсат из конструкции
                        li.products-block__list-item -защищает от попадания влаги снаружи
                        li.products-block__list-item -защита утеплителя и каркаса без монтажа основного облицоввачного материала до 2-х месяцев
                    .products-block__price Цена: 3100 руб
                    btn.button.products-block__buy купить
        a.button.products-block__full-price(href="full-price.pug") ПОЛНЫЙ ПРАЙС 