div(class="services-block")
    div(class="subtitle subtitle_bg_yellow")
        div(class="container")
            h2(class="subtitle__title") Услуги
            span(class="subtitle__txt") Даем скидку на строительные работы, ремонт и прочие услуги
    div(class="services-block__grid container")
        a(href="javascript:;",class="services-block__item", style="background-image: url('img/services/1.jpg')")
            h3(class="services-block__subtitle") КАРКАСНЫЕ ДОМА
            div(class="services-block__discount")
                div(class="services-block__percent") 
                    span 5%
                span дополнительная скидка на монтаж
        a(href="javascript:;",class="services-block__item", style="background-image: url('img/services/2.jpg')")
            h3(class="services-block__subtitle") Укладка паркета
            div(class="services-block__discount")
                div(class="services-block__percent") 
                    span 10%
                span дополнительная скидка на укладку
        a(href="javascript:;",class="services-block__item", style="background-image: url('img/services/3.jpg')")
            h3(class="services-block__subtitle") наливные полы
            div(class="services-block__discount")
                div(class="services-block__percent") 
                    span 5%
                span дополнительная скидка на монтаж
        a(href="javascript:;",class="services-block__item", style="background-image: url('img/services/4.jpg')")
            h3(class="services-block__subtitle") РЕМОНТ ПОД КЛЮЧ
            div(class="services-block__discount")
                div(class="services-block__percent") 
                    span 10%
                span дополнительная скидка на ремонт
        a(href="javascript:;",class="services-block__item", style="background-image: url('img/services/5.jpg')")
            h3(class="services-block__subtitle") ГРУЗОПЕРЕВОЗКА
            div(class="services-block__discount")
                div(class="services-block__percent") 
                    span 40%
                span дополнительная скидка за час
        a(href="javascript:;",class="services-block__item", style="background-image: url('img/services/6.jpg')")
            h3(class="services-block__subtitle") МЕБЕЛЬ ИЗ ДЕРЕВА
            div(class="services-block__discount")
                div(class="services-block__percent") 
                    span 10%
                span дополнительная скидка на работы
    div(class="services-block__actions container")
        button(class="button services-block__btn") ЕЩЁ УСЛУГИ
        button(class="button button_yellow services-block__btn") ДОБАВИТЬ УСЛУГУ
