.short-info.container
    h2.short-info__title Компания StroySales - поставщик ROCKWOOL® ISOVER®  ПЕНОПЛЕКС ® и других брендов в Санкт-Петербурге и Ленинградской области. С нашей помощью можно приобрести  по низкой цене любые строительные товары.
    ul.short-info__list
        li.short-info__list-item
            |Все представленные на сайте позиции находятся на складах в Санкт-Петербурге.
        li.short-info__list-item
            | Доставка товара осуществляется различным грузовым автотранспортом, что позволяет подобрать машину именно под ваш заказанный объем и не переплачивать.
