<!DOCTYPE html>
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=800, initial-scale=0.20')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        meta(http-equiv='X-UA-Compatible' content='IE=EmulateIE7,IE=edge')
        meta(name='description' content='Мы помогаем найти строительные материалы от поставщиков, заводов и магазинов')
        meta(name='keywords' content='')
        meta(name='author' content='Umisoft')
        meta(name='format-detection' content='telephone=no')
        meta(name='apple-mobile-web-app-capable' content='yes')
        meta(name='apple-mobile-web-app-status-bar-style' content='#FFED00')
        meta(name='theme-color' content='#FFED00')
        meta(name='msapplication-navbutton-color' content='#FFED00')
        meta(name='apple-mobile-web-app-capable' content='yes')
        meta(name='apple-mobile-web-app-status-bar-style' content='#FFED00')
        meta(name='msapplication-navbutton-color' content='#FFED00')
        link(rel="icon"  href="img/icons/flame.svg")
        link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800&display=swap' rel='stylesheet')
        link(rel='stylesheet' href='main.scss')
        title Строительный дисконт №1 – В СПб
    body
        .decor-rect.decor-rect_s
        include pug/blocks/header.pug 
        main(class="main-page")
            .breadcrumbs.container
                ul.breadcrumbs__list
                    li.breadcrumbs__list-item  
                        a(href="/") Главная                        
                    li.breadcrumbs__list-item  
                        | Прайс
                h2.breadcrumbs__page-title ПРАЙС
            .info-block.info-block_green 
                .container
                    |Эти цены не окончательные: чем 
                    b больше 
                    |объем продукции – тем ниже итоговая стоимость, 
                    |поэтому не стесняйтесь обсудить дополнительную скидку с личным менеджером!
            .full-price.container
                table.full-price__table
                    tbody
                        tr.full-price__table-subtitle 
                            td(colspan="10") общестрой
                        tr.full-price__table-param
                            td
                            td(colspan="3") Размер материала, мм
                            td(colspan="3") Упаковка
                            td(colspan="5") Цена в рублях
                        tr.full-price__table-attr
                            td Наименование
                            td Длина
                            td Ширина
                            td Толщина
                            td Шт,
                            td м²
                            td м³
                            td м³
                            td Упаковка
                            td(colspan="2")
                        tr(id="pp-slide3")
                            td(data-th="Наименование") Изовер теплые стены стронг
                            td(data-th="Длина") 1000
                            td(data-th="Ширина") 610
                            td(data-th="Толщина") 50
                            td(data-th="Шт") 10
                            td(data-th="м²") 6,1
                            td(data-th="м³") 0,305
                            td(data-th="м³") 1639
                            td(data-th="Упаковка") 499
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                        tr
                            td(data-th="Наименование") Изовер теплые стены стронг
                            td(data-th="Длина") 1000
                            td(data-th="Ширина") 610
                            td(data-th="Толщина") 100
                            td(data-th="Шт") 5
                            td(data-th="м²") 3,05
                            td(data-th="м³") 0,305
                            td(data-th="м³") 1639
                            td(data-th="Упаковка") 499
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                        tr
                            td(data-th="Наименование") Изовер Каркас П-34
                            td(data-th="Длина") 1170
                            td(data-th="Ширина") 610
                            td(data-th="Толщина") 50
                            td(data-th="Шт") 20
                            td(data-th="м²") 14,27
                            td(data-th="м³") 0,714
                            td(data-th="м³") 1470
                            td(data-th="Упаковка") 1049
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                        tr
                            td(data-th="Наименование") Изовер Каркас П-34
                            td(data-th="Длина") 1170
                            td(data-th="Ширина") 610
                            td(data-th="Толщина") 100
                            td(data-th="Шт") 10
                            td(data-th="м²") 7,14
                            td(data-th="м³") 0,714
                            td(data-th="м³") 1470
                            td(data-th="Упаковка") 1049
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                        tr
                            td(data-th="Наименование") Изовер Теплый Дом-плита
                            td(data-th="Длина") 1170
                            td(data-th="Ширина") 610
                            td(data-th="Толщина") 50
                            td(data-th="Шт") 14
                            td(data-th="м²") 10
                            td(data-th="м³") 0,5
                            td(data-th="м³") 1440
                            td(data-th="Упаковка") 720
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                        tr
                            td(data-th="Наименование") Изовер Теплый Дом-плита
                            td(data-th="Длина") 1170
                            td(data-th="Ширина") 610
                            td(data-th="Толщина") 100
                            td(data-th="Шт") 7
                            td(data-th="м²") 5
                            td(data-th="м³") 0,5
                            td(data-th="м³") 1440
                            td(data-th="Упаковка") 720
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                        tr
                            td(data-th="Наименование") Изовер ПРОФИ Рулон
                            td(data-th="Длина") 4100
                            td(data-th="Ширина") 610
                            td(data-th="Толщина") 50
                            td(data-th="Шт") 4
                            td(data-th="м²") 10
                            td(data-th="м³") 0,5
                            td(data-th="м³") 1260
                            td(data-th="Упаковка") 640
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                        tr
                            td(data-th="Наименование") Изовер ПРОФИ Рулон
                            td(data-th="Длина") 4100
                            td(data-th="Ширина") 610
                            td(data-th="Толщина") 100
                            td(data-th="Шт") 2
                            td(data-th="м²") 5
                            td(data-th="м³") 0,5
                            td(data-th="м³") 1260
                            td(data-th="Упаковка") 640
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                        tr
                            td(data-th="Наименование" id="rockwool") ROCKWOOL Лайт Баттс
                            td(data-th="Длина") 1000
                            td(data-th="Ширина") 600
                            td(data-th="Толщина") 50
                            td(data-th="Шт") 10
                            td(data-th="м²") 6
                            td(data-th="м³") 0,3
                            td(data-th="м³") 2466
                            td(data-th="Упаковка") 740
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                        tr(id="pp-slide2")
                            td(data-th="Наименование") ROCKWOOL Лайт Баттс
                            td(data-th="Длина") 1000
                            td(data-th="Ширина") 600
                            td(data-th="Толщина") 100
                            td(data-th="Шт") 5
                            td(data-th="м²") 3
                            td(data-th="м³") 0,3
                            td(data-th="м³") 2466
                            td(data-th="Упаковка") 740
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                        tr(id="pp-slide1")
                            td(data-th="Наименование") ROCKWOOL Лайт Баттс Скандик
                            td(data-th="Длина") 800
                            td(data-th="Ширина") 600
                            td(data-th="Толщина") 50
                            td(data-th="Шт") 12
                            td(data-th="м²") 5,76
                            td(data-th="м³") 0,288
                            td(data-th="м³") 1875
                            td(data-th="Упаковка") 540
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                        tr
                            td(data-th="Наименование") ROCKWOOL Лайт Баттс Скандик
                            td(data-th="Длина") 800
                            td(data-th="Ширина") 600
                            td(data-th="Толщина") 100
                            td(data-th="Шт") 6
                            td(data-th="м²") 2,88
                            td(data-th="м³") 0,288
                            td(data-th="м³") 1875
                            td(data-th="Упаковка") 540
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                        tr(id="pp-slide4")
                            td(data-th="Наименование") ROCKWOOL Лайт Баттс Скандик XL
                            td(data-th="Длина") 1200
                            td(data-th="Ширина") 600
                            td(data-th="Толщина") 100
                            td(data-th="Шт") 6
                            td(data-th="м²") 4,32
                            td(data-th="м³") 0,432
                            td(data-th="м³") 1822
                            td(data-th="Упаковка") 790
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                        tr
                            td(data-th="Наименование") ROCKWOOL Лайт Баттс Скандик XL
                            td(data-th="Длина") 1200
                            td(data-th="Ширина") 600
                            td(data-th="Толщина") 150
                            td(data-th="Шт") 5
                            td(data-th="м²") 3,6
                            td(data-th="м³") 0,54
                            td(data-th="м³") 1855
                            td(data-th="Упаковка") 1000
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                        tr
                            td(data-th="Наименование") ROCKWOOL Лайт Баттс Экстра
                            td(data-th="Длина") 1000
                            td(data-th="Ширина") 600
                            td(data-th="Толщина") 50
                            td(data-th="Шт") 8
                            td(data-th="м²") 4,8
                            td(data-th="м³") 0,24
                            td(data-th="м³") 2750
                            td(data-th="Упаковка") 660
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                        tr
                            td(data-th="Наименование") ROCKWOOL Лайт Баттс Экстра
                            td(data-th="Длина") 1000
                            td(data-th="Ширина") 600
                            td(data-th="Толщина") 100
                            td(data-th="Шт") 4
                            td(data-th="м²") 2,4
                            td(data-th="м³") 0,24
                            td(data-th="м³") 2750
                            td(data-th="Упаковка") 660
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                table.full-price__table
                    tbody 
                        tr.full-price__table-subtitle
                            td(colspan="10")
                                | ИЗОЛЯЦИЯ ДЛЯ ШТУКАТУРНЫХ ФАСАДНЫХ СИСТЕМ
                        tr.full-price__table-param
                            td
                            td(colspan="3") Размер материала, мм
                            td(colspan="3") Упаковка
                            td(colspan="5") Цена в рублях
                        tr.full-price__table-attr
                            td Наименование
                            td Длина
                            td Ширина
                            td Толщина
                            td Шт,
                            td м²
                            td м³
                            td м³
                            td Упаковка
                            td(colspan="2")
                        tr(id="pp-slide5")
                            td(data-th="Наименование") Рокфасад
                            td(data-th="Длина") 1000
                            td(data-th="Ширина") 600
                            td(data-th="Толщина") 50
                            td(data-th="Шт") 4
                            td(data-th="м²") 2,4
                            td(data-th="м³") 0,12
                            td(data-th="м³") 5584
                            td(data-th="Упаковка") 670
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                        tr
                            td(data-th="Наименование") Рокфасад
                            td(data-th="Длина") 1000
                            td(data-th="Ширина") 600
                            td(data-th="Толщина") 100
                            td(data-th="Шт") 2
                            td(data-th="м²") 1,2
                            td(data-th="м³") 0,12
                            td(data-th="м³") 5584
                            td(data-th="Упаковка") 670
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                        tr
                            td(data-th="Наименование") ROCKWOOL Фасад Баттс Д Экстра
                            td(data-th="Длина") 1000
                            td(data-th="Ширина") 600
                            td(data-th="Толщина") 100
                            td(data-th="Шт") 3
                            td(data-th="м²") 1,8
                            td(data-th="м³") 0,18
                            td(data-th="м³") 10590
                            td(data-th="Упаковка") 1906
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                        tr
                            td(data-th="Наименование") ROCKWOOL Фасад Баттс Д Экстра
                            td(data-th="Длина") 1000
                            td(data-th="Ширина") 600
                            td(data-th="Толщина") 150
                            td(data-th="Шт") 2
                            td(data-th="м²") 1,2
                            td(data-th="м³") 0,18
                            td(data-th="м³") 10590
                            td(data-th="Упаковка") 1906
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                        tr
                            td(data-th="Наименование") ROCKWOOL Фасад Баттс Д Оптима
                            td(data-th="Длина") 1000
                            td(data-th="Ширина") 600
                            td(data-th="Толщина") 100
                            td(data-th="Шт") 3
                            td(data-th="м²") 1,8
                            td(data-th="м³") 0,18
                            td(data-th="м³") 9044
                            td(data-th="Упаковка") 1628
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                        tr
                            td(data-th="Наименование") ROCKWOOL Фасад Баттс Д Оптима
                            td(data-th="Длина") 1000
                            td(data-th="Ширина") 600
                            td(data-th="Толщина") 150
                            td(data-th="Шт") 2
                            td(data-th="м²") 1,2
                            td(data-th="м³") 0,18
                            td(data-th="м³") 9044
                            td(data-th="Упаковка") 1628
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                        tr
                            td(data-th="Наименование") ROCKWOOL Фасад Баттс Экстра
                            td(data-th="Длина") 1000
                            td(data-th="Ширина") 600
                            td(data-th="Толщина") 25
                            td(data-th="Шт") 8
                            td(data-th="м²") 4,8
                            td(data-th="м³") 0,12
                            td(data-th="м³") 11570
                            td(data-th="Упаковка") 1388
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                        tr
                            td(data-th="Наименование") ROCKWOOL Фасад Баттс Экстра
                            td(data-th="Длина") 1000
                            td(data-th="Ширина") 600
                            td(data-th="Толщина") 50
                            td(data-th="Шт") 4
                            td(data-th="м²") 2,4
                            td(data-th="м³") 0,12
                            td(data-th="м³") 11570
                            td(data-th="Упаковка") 1388
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                        tr
                            td(data-th="Наименование") ROCKWOOL Фасад Баттс Экстра
                            td(data-th="Длина") 1000
                            td(data-th="Ширина") 600
                            td(data-th="Толщина") 100
                            td(data-th="Шт") 2
                            td(data-th="м²") 1,2
                            td(data-th="м³") 0,12
                            td(data-th="м³") 11570
                            td(data-th="Упаковка") 1388
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                        tr
                            td(data-th="Наименование") ROCKWOOL Фасад Баттс Оптима
                            td(data-th="Длина") 1000
                            td(data-th="Ширина") 600
                            td(data-th="Толщина") 50
                            td(data-th="Шт") 6
                            td(data-th="м²") 3,6
                            td(data-th="м³") 0,18
                            td(data-th="м³") 6300
                            td(data-th="Упаковка") 1134
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                        tr
                            td(data-th="Наименование") ROCKWOOL Фасад Баттс Оптима
                            td(data-th="Длина") 1000
                            td(data-th="Ширина") 600
                            td(data-th="Толщина") 100
                            td(data-th="Шт") 3
                            td(data-th="м²") 1,8
                            td(data-th="м³") 0,18
                            td(data-th="м³") 6300
                            td(data-th="Упаковка") 1134
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                table.full-price__table
                    tbody 
                        tr.full-price__table-subtitle
                            td(colspan="10")
                                | ИЗОЛЯЦИЯ
                                | ДЛЯ НАВЕСНЫХ ФАСАДНЫХ СИСТЕМ
                        tr.full-price__table-param
                            td
                            td(colspan="3") Размер материала, мм
                            td(colspan="3") Упаковка
                            td(colspan="5") Цена в рублях
                        tr.full-price__table-attr
                            td Наименование
                            td Длина
                            td Ширина
                            td Толщина
                            td Шт,
                            td м²
                            td м³
                            td м³
                            td Упаковка
                            td(colspan="2")
                        tr
                            td(data-th="Наименование") ROCKWOOL Венти Баттс Д
                            td(data-th="Длина") 1000
                            td(data-th="Ширина") 600
                            td(data-th="Толщина") 100
                            td(data-th="Шт") 6
                            td(data-th="м²") 3,6
                            td(data-th="м³") 0,36
                            td(data-th="м³") 4 586
                            td(data-th="Упаковка") 1651
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                        tr
                            td(data-th="Наименование") ROCKWOOL Венти Баттс Д Оптима
                            td(data-th="Длина") 1000
                            td(data-th="Ширина") 600
                            td(data-th="Толщина") 100
                            td(data-th="Шт") 6
                            td(data-th="м²") 3,6
                            td(data-th="м³") 0,36
                            td(data-th="м³") 4 250
                            td(data-th="Упаковка") 1530
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                        tr
                            td(data-th="Наименование") ROCKWOOL Венти Баттс
                            td(data-th="Длина") 1000
                            td(data-th="Ширина") 600
                            td(data-th="Толщина") 50
                            td(data-th="Шт") 8
                            td(data-th="м²") 4,8
                            td(data-th="м³") 0,24
                            td(data-th="м³") 5 448
                            td(data-th="Упаковка") 1308
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                        tr
                            td(data-th="Наименование") ROCKWOOL Венти Баттс
                            td(data-th="Длина") 1000
                            td(data-th="Ширина") 600
                            td(data-th="Толщина") 100
                            td(data-th="Шт") 4
                            td(data-th="м²") 2,4
                            td(data-th="м³") 0,24
                            td(data-th="м³") 5 448
                            td(data-th="Упаковка") 1308
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                        tr
                            td(data-th="Наименование") ROCKWOOL Венти Баттс Оптима
                            td(data-th="Длина") 1000
                            td(data-th="Ширина") 600
                            td(data-th="Толщина") 50
                            td(data-th="Шт") 8
                            td(data-th="м²") 4,8
                            td(data-th="м³") 0,24
                            td(data-th="м³") 4 865
                            td(data-th="Упаковка") 1167
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                        tr
                            td(data-th="Наименование") ROCKWOOL Венти Баттс Оптима
                            td(data-th="Длина") 1000
                            td(data-th="Ширина") 600
                            td(data-th="Толщина") 100
                            td(data-th="Шт") 4
                            td(data-th="м²") 2,4
                            td(data-th="м³") 0,24
                            td(data-th="м³") 4 865
                            td(data-th="Упаковка") 1167
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                        tr
                            td(data-th="Наименование") ROCKWOOL Венти Баттс Н
                            td(data-th="Длина") 1000
                            td(data-th="Ширина") 600
                            td(data-th="Толщина") 50
                            td(data-th="Шт") 10
                            td(data-th="м²") 6
                            td(data-th="м³") 0,3
                            td(data-th="м³") 3 201
                            td(data-th="Упаковка") 960
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                        tr
                            td(data-th="Наименование") ROCKWOOL Венти Баттс Н
                            td(data-th="Длина") 1000
                            td(data-th="Ширина") 600
                            td(data-th="Толщина") 100
                            td(data-th="Шт") 5
                            td(data-th="м²") 3
                            td(data-th="м³") 0,3
                            td(data-th="м³") 3 201
                            td(data-th="Упаковка") 960
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                        tr
                            td(data-th="Наименование") ROCKWOOL Венти Баттс Н Оптима
                            td(data-th="Длина") 1000
                            td(data-th="Ширина") 600
                            td(data-th="Толщина") 50
                            td(data-th="Шт") 12
                            td(data-th="м²") 7,2
                            td(data-th="м³") 0,36
                            td(data-th="м³") 2 875
                            td(data-th="Упаковка") 1035
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                table.full-price__table
                    tbody  
                        tr.full-price__table-subtitle
                            td(colspan="10") ИЗОЛЯЦИЯ ДЛЯ ПЛОСКОЙ КРОВЛИ
                        tr.full-price__table-param
                            td
                            td(colspan="3") Размер материала, мм
                            td(colspan="3") Упаковка
                            td(colspan="5") Цена в рублях
                        tr.full-price__table-attr
                            td Наименование
                            td Длина
                            td Ширина
                            td Толщина
                            td Шт,
                            td м²
                            td м³
                            td м³
                            td Упаковка
                            td(colspan="2")
                        tr
                            td(data-th="Наименование") ROCKWOOL Руф Баттс Д Экстра
                            td(data-th="Длина") 1000
                            td(data-th="Ширина") 600
                            td(data-th="Толщина") 100
                            td(data-th="Шт") 2
                            td(data-th="м²") 1,2
                            td(data-th="м³") 0,12
                            td(data-th="м³") 9 324
                            td(data-th="Упаковка") 932
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                        tr
                            td(data-th="Наименование") ROCKWOOL Руф Баттс Д Оптима
                            td(data-th="Длина") 1000
                            td(data-th="Ширина") 600
                            td(data-th="Толщина") 100
                            td(data-th="Шт") 3
                            td(data-th="м²") 1,8
                            td(data-th="м³") 0,18
                            td(data-th="м³") 8 328
                            td(data-th="Упаковка") 833
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                        tr
                            td(data-th="Наименование") ROCKWOOL Руф Баттс Д Стандарт
                            td(data-th="Длина") 1000
                            td(data-th="Ширина") 600
                            td(data-th="Толщина") 100
                            td(data-th="Шт") 3
                            td(data-th="м²") 1,8
                            td(data-th="м³") 0,18
                            td(data-th="м³") 7 740
                            td(data-th="Упаковка") 774
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                        tr
                            td(data-th="Наименование") ROCKWOOL Руф Баттс В Экстра
                            td(data-th="Длина") 1000
                            td(data-th="Ширина") 600
                            td(data-th="Толщина") 40
                            td(data-th="Шт") 4
                            td(data-th="м²") 2,4
                            td(data-th="м³") 0,096
                            td(data-th="м³") 12 180
                            td(data-th="Упаковка") 487
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                        tr
                            td(data-th="Наименование") ROCKWOOL Руф Баттс В Экстра
                            td(data-th="Длина") 1000
                            td(data-th="Ширина") 600
                            td(data-th="Толщина") 50
                            td(data-th="Шт") 4
                            td(data-th="м²") 2,4
                            td(data-th="м³") 0,12
                            td(data-th="м³") 12 180
                            td(data-th="Упаковка") 609
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                        tr
                            td(data-th="Наименование") ROCKWOOL Руф Баттс В Оптима
                            td(data-th="Длина") 1000
                            td(data-th="Ширина") 600
                            td(data-th="Толщина") 40
                            td(data-th="Шт") 4
                            td(data-th="м²") 2,4
                            td(data-th="м³") 0,096
                            td(data-th="м³") 10 596
                            td(data-th="Упаковка") 424
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                        tr
                            td(data-th="Наименование") ROCKWOOL Руф Баттс В Оптима
                            td(data-th="Длина") 1000
                            td(data-th="Ширина") 600
                            td(data-th="Толщина") 50
                            td(data-th="Шт") 4
                            td(data-th="м²") 2,4
                            td(data-th="м³") 0,12
                            td(data-th="м³") 10 596
                            td(data-th="Упаковка") 530
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                        tr
                            td(data-th="Наименование") ROCKWOOL Руф Баттс Н Экстра
                            td(data-th="Длина") 1000
                            td(data-th="Ширина") 600
                            td(data-th="Толщина") 50
                            td(data-th="Шт") 6
                            td(data-th="м²") 3,6
                            td(data-th="м³") 0,18
                            td(data-th="м³") 7 080
                            td(data-th="Упаковка") 354
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                        tr
                            td(data-th="Наименование") ROCKWOOL Руф Баттс Н Экстра
                            td(data-th="Длина") 1000
                            td(data-th="Ширина") 600
                            td(data-th="Толщина") 100
                            td(data-th="Шт") 3
                            td(data-th="м²") 1,8
                            td(data-th="м³") 0,18
                            td(data-th="м³") 7 080
                            td(data-th="Упаковка") 701
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                        tr
                            td(data-th="Наименование") ROCKWOOL Руф Баттс Н Оптима
                            td(data-th="Длина") 1000
                            td(data-th="Ширина") 600
                            td(data-th="Толщина") 50
                            td(data-th="Шт") 6
                            td(data-th="м²") 3,6
                            td(data-th="м³") 0,18
                            td(data-th="м³") 6 156
                            td(data-th="Упаковка") 308
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                        tr
                            td(data-th="Наименование") ROCKWOOL Руф Баттс Н Оптима
                            td(data-th="Длина") 1000
                            td(data-th="Ширина") 600
                            td(data-th="Толщина") 100
                            td(data-th="Шт") 3
                            td(data-th="м²") 1,8
                            td(data-th="м³") 0,18
                            td(data-th="м³") 6 096
                            td(data-th="Упаковка") 610
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg") 
                table.full-price__table
                    tbody 
                        tr.full-price__table-subtitle
                            td(colspan="10")
                                | Паро-ветро изоляции и
                                | мембраны
                        tr.full-price__table-param
                            td
                            td(colspan="3") Размер материала, мм
                            td(colspan="3") Упаковка
                            td(colspan="5") Цена в рублях
                        tr.full-price__table-attr
                            td Наименование
                            td Длина
                            td Ширина
                            td Толщина
                            td Шт,
                            td м²
                            td м³
                            td 
                            td Рулон
                            td(colspan="2")
                        tr(id="pp-slide8")
                            td(data-th="Наименование") Изовер ПАРАНЕТ (B)
                            td(data-th="Длина") 1,5м
                            td(data-th="Ширина") 47
                            td(data-th="Толщина") 70м²
                            td(data-th="Шт")
                            td(data-th="м²")
                            td(data-th="м³")
                            td(data-th="")
                            td(data-th="Рулон") 1290
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                        tr(id="pp-slide9")
                            td(data-th="Наименование") Изовер ГИДРАНЕТ (D)
                            td(data-th="Длина") 1,5
                            td(data-th="Ширина") 47
                            td(data-th="Толщина") 70м²
                            td(data-th="Шт")
                            td(data-th="м²")
                            td(data-th="м³")
                            td(data-th="")
                            td(data-th="Рулон") 1670
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                        tr
                            td(data-th="Наименование") Мембрана Изовер Ветранет (АМ)
                            td(data-th="Длина") 1,5
                            td(data-th="Ширина") 47
                            td(data-th="Толщина") 70м²
                            td(data-th="Шт")
                            td(data-th="м²")
                            td(data-th="м³")
                            td(data-th="")
                            td(data-th="Рулон") 3130
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                        tr
                            td(data-th="Наименование") Изоспан D
                            td(data-th="Длина") 1,6
                            td(data-th="Ширина") 44
                            td(data-th="Толщина") 70м²
                            td(data-th="Шт")
                            td(data-th="м²")
                            td(data-th="м³")
                            td(data-th="")
                            td(data-th="Рулон") 2100
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                        tr
                            td(data-th="Наименование") Изоспан B
                            td(data-th="Длина") 1,6
                            td(data-th="Ширина") 44
                            td(data-th="Толщина") 70м²
                            td(data-th="Шт")
                            td(data-th="м²")
                            td(data-th="м³")
                            td(data-th="")
                            td(data-th="Рулон") 1430
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                        tr
                            td(data-th="Наименование") Гидро-пароизоляция Rockwool
                            td(data-th="Длина") 1,6
                            td(data-th="Ширина") 44
                            td(data-th="Толщина") 70м²
                            td(data-th="Шт")
                            td(data-th="м²")
                            td(data-th="м³")
                            td(data-th="")
                            td(data-th="Рулон") 2220
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                        tr
                            td(data-th="Наименование") Пароизоляция Rockwool
                            td(data-th="Длина") 1,6
                            td(data-th="Ширина") 44
                            td(data-th="Толщина") 70м²
                            td(data-th="Шт")
                            td(data-th="м²")
                            td(data-th="м³")
                            td(data-th="")
                            td(data-th="Рулон") 1350
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg") 
                table.full-price__table
                    tbody 
                        tr.full-price__table-subtitle
                            td(colspan="10" id="penoplex")
                                | ЭКСТУРЗИОННЫЙ
                                | ПОЛИСТИРОЛ ПЕНОПЛЕКС
                        tr.full-price__table-param
                            td
                            td(colspan="3") Размер материала, мм
                            td(colspan="3") Упаковка
                            td(colspan="5") Цена в рублях
                        tr.full-price__table-attr
                            td Наименование
                            td Длина
                            td Ширина
                            td Толщина
                            td Шт,
                            td м²
                            td м³
                            td м³
                            td Упаковка
                            td(colspan="2")
                        tr(id="pp-slide6")
                            td(data-th="Наименование") пеноплэкс комфорт
                            td(data-th="Длина") 1200
                            td(data-th="Ширина") 600
                            td(data-th="Толщина") 20
                            td(data-th="Шт") 20
                            td(data-th="м²") 13,86
                            td(data-th="м³") 0,2773
                            td(data-th="м³") 4616
                            td(data-th="Упаковка") 1290
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                        tr
                            td(data-th="Наименование") пеноплэкс комфорт
                            td(data-th="Длина") 1200
                            td(data-th="Ширина") 600
                            td(data-th="Толщина") 30
                            td(data-th="Шт") 13
                            td(data-th="м²") 9,01
                            td(data-th="м³") 0,2703
                            td(data-th="м³") 4421
                            td(data-th="Упаковка") 1205
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                        tr
                            td(data-th="Наименование") пеноплэкс комфорт
                            td(data-th="Длина") 1200
                            td(data-th="Ширина") 600
                            td(data-th="Толщина") 40
                            td(data-th="Шт") 9
                            td(data-th="м²") 6,24
                            td(data-th="м³") 0,2495
                            td(data-th="м³") 4329
                            td(data-th="Упаковка") 1090
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                        tr
                            td(data-th="Наименование") пеноплэкс комфорт
                            td(data-th="Длина") 1185
                            td(data-th="Ширина") 585
                            td(data-th="Толщина") 50
                            td(data-th="Шт") 7
                            td(data-th="м²") 4,853
                            td(data-th="м³") 0,243
                            td(data-th="м³") 4280
                            td(data-th="Упаковка") 1040
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                        tr
                            td(data-th="Наименование") пеноплэкс комфорт
                            td(data-th="Длина") 1185
                            td(data-th="Ширина") 585
                            td(data-th="Толщина") 100
                            td(data-th="Шт") 4
                            td(data-th="м²") 2,772
                            td(data-th="м³") 0,2772
                            td(data-th="м³") 4329
                            td(data-th="Упаковка") 1210
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                        tr(id="pp-slide7")
                            td(data-th="Наименование") пеноплэкс фундамент
                            td(data-th="Длина") 1185
                            td(data-th="Ширина") 585
                            td(data-th="Толщина") 50
                            td(data-th="Шт") 7
                            td(data-th="м²") 4,858
                            td(data-th="м³") 0,243
                            td(data-th="м³") 4938
                            td(data-th="Упаковка") 1210
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                        tr
                            td(data-th="Наименование") пеноплэкс фундамент
                            td(data-th="Длина") 1185
                            td(data-th="Ширина") 585
                            td(data-th="Толщина") 100
                            td(data-th="Шт") 4
                            td(data-th="м²") 2,88
                            td(data-th="м³") 0,2773
                            td(data-th="м³") 5049
                            td(data-th="Упаковка") 1410
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg") 
                table.full-price__table
                    tbody 
                        tr.full-price__table-subtitle
                            td(colspan="10" id="gyproc") ГИПСОКАРТОН
                        tr.full-price__table-param
                            td
                            td(colspan="3") Размер материала, мм
                            td(colspan="3") Упаковка
                            td(colspan="5") Цена в рублях
                        tr.full-price__table-attr
                            td Наименование
                            td Длина
                            td Ширина
                            td Толщина
                            td Шт,
                            td м²
                            td м³
                            td м²
                            td Лист
                            td(colspan="2")
                        tr
                            td(data-th="Наименование") Гипрок Оптима
                            td(data-th="Длина") 2700
                            td(data-th="Ширина") 1200
                            td(data-th="Толщина") 12,5
                            td(data-th="Шт")
                            td(data-th="м²")
                            td(data-th="м³")
                            td(data-th="м²") 111
                            td(data-th="Лист") 361
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg") 
                        tr
                            td(data-th="Наименование") Гипрок Аква Оптима
                            td(data-th="Длина") 2700
                            td(data-th="Ширина") 1200
                            td(data-th="Толщина") 12,5
                            td(data-th="Шт")
                            td(data-th="м²")
                            td(data-th="м³")
                            td(data-th="м²") 134
                            td(data-th="Лист") 435
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg") 
                        tr
                            td(data-th="Наименование") Гипрок Ветрозащитный ПрК
                            td(data-th="Длина") 2700
                            td(data-th="Ширина") 1200
                            td(data-th="Толщина") 9,5
                            td(data-th="Шт")
                            td(data-th="м²")
                            td(data-th="м³")
                            td(data-th="м²") 269
                            td(data-th="Лист") 871
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg") 
                        tr
                            td(data-th="Наименование") Гипрок Аква Лайт
                            td(data-th="Длина") 2700
                            td(data-th="Ширина") 1200
                            td(data-th="Толщина") 9,5
                            td(data-th="Шт")
                            td(data-th="м²")
                            td(data-th="м³")
                            td(data-th="м²") 137
                            td(data-th="Лист") 442
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg")
                        tr
                            td(data-th="Наименование") Гипрок Огнестойкий
                            td(data-th="Длина") 2700
                            td(data-th="Ширина") 1200
                            td(data-th="Толщина") 12,5
                            td(data-th="Шт")
                            td(data-th="м²")
                            td(data-th="м³")
                            td(data-th="м²") 159
                            td(data-th="Лист") 514
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg") 
                        tr
                            td(data-th="Наименование") Гипрок Огневлагостойкий
                            td(data-th="Длина") 2700
                            td(data-th="Ширина") 1200
                            td(data-th="Толщина") 12,5
                            td(data-th="Шт")
                            td(data-th="м²")
                            td(data-th="м³")
                            td(data-th="м²") 189
                            td(data-th="Лист") 612
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg") 
                        tr
                            td(data-th="Наименование") Гипрок Стронг
                            td(data-th="Длина") 2700
                            td(data-th="Ширина") 1200
                            td(data-th="Толщина") 15
                            td(data-th="Шт")
                            td(data-th="м²")
                            td(data-th="м³")
                            td(data-th="м²") 148
                            td(data-th="Лист") 480
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg") 
                        tr
                            td(data-th="Наименование") Гипрок Лайт
                            td(data-th="Длина") 2700
                            td(data-th="Ширина") 1200
                            td(data-th="Толщина") 9,5
                            td(data-th="Шт")
                            td(data-th="м²")
                            td(data-th="м³")
                            td(data-th="м²") 105
                            td(data-th="Лист") 340
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg") 
                        tr
                            td(data-th="Наименование") Гипрок Стронг
                            td(data-th="Длина") 2700
                            td(data-th="Ширина") 1200
                            td(data-th="Толщина") 15
                            td(data-th="Шт")
                            td(data-th="м²")
                            td(data-th="м³")
                            td(data-th="м²") 148
                            td(data-th="Лист") 480
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg") 
                        tr
                            td(data-th="Наименование") Гипрок Аква Стронг
                            td(data-th="Длина") 2700
                            td(data-th="Ширина") 1200
                            td(data-th="Толщина") 15
                            td(data-th="Шт")
                            td(data-th="м²")
                            td(data-th="м³")
                            td(data-th="м²") 182
                            td(data-th="Лист") 589
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg") 
                        tr
                            td(data-th="Наименование") Гипрок Мультикомфорт
                            td(data-th="Длина") 2700
                            td(data-th="Ширина") 1200
                            td(data-th="Толщина") 12,5
                            td(data-th="Шт")
                            td(data-th="м²")
                            td(data-th="м³")
                            td(data-th="м²") 246
                            td(data-th="Лист") 796
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg") 
                table.full-price__table
                    tbody 
                        tr.full-price__table-subtitle
                            td(colspan="10") ПРОФИЛЬ ДЛЯ ГИПСОКАРТОНА
                        tr.full-price__table-param
                            td
                            td(colspan="3") Размер материала, мм
                            td(colspan="3") Упаковка
                            td(colspan="5") Цена в рублях
                        tr.full-price__table-attr
                            td Наименование
                            td Длина
                            td Ширина
                            td Толщина
                            td Шт
                            td м²
                            td м³
                            td пог.м
                            td шт
                            td(colspan="2")
                        tr
                            td(data-th="Наименование") Gyproc-Ультра ПП 60/27
                            td(data-th="Длина") 3000
                            td(data-th="Ширина")
                            td(data-th="Толщина")
                            td(data-th="Шт")
                            td(data-th="м²")
                            td(data-th="м³")
                            td(data-th="пог.м") 62
                            td(data-th="шт") 186
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg") 
                        tr
                            td(data-th="Наименование") Gyproc-Ультра ППН 28/27
                            td(data-th="Длина") 3000
                            td(data-th="Ширина")
                            td(data-th="Толщина")
                            td(data-th="Шт")
                            td(data-th="м²")
                            td(data-th="м³")
                            td(data-th="пог.м") 45
                            td(data-th="шт") 136
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg") 
                        tr
                            td(data-th="Наименование") Gyproc-Ультра ПС 50/40
                            td(data-th="Длина") 3000
                            td(data-th="Ширина")
                            td(data-th="Толщина")
                            td(data-th="Шт")
                            td(data-th="м²")
                            td(data-th="м³")
                            td(data-th="пог.м") 76
                            td(data-th="шт") 227
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg") 
                        tr
                            td(data-th="Наименование") Gyproc-Ультра ПС 66/40
                            td(data-th="Длина") 3000
                            td(data-th="Ширина")
                            td(data-th="Толщина")
                            td(data-th="Шт")
                            td(data-th="м²")
                            td(data-th="м³")
                            td(data-th="пог.м") 84
                            td(data-th="шт") 252
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg") 
                        tr
                            td(data-th="Наименование") Gyproc-Ультра ПС 75/40
                            td(data-th="Длина") 3000
                            td(data-th="Ширина")
                            td(data-th="Толщина")
                            td(data-th="Шт")
                            td(data-th="м²")
                            td(data-th="м³")
                            td(data-th="пог.м") 88
                            td(data-th="шт") 265
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg") 
                        tr
                            td(data-th="Наименование") Gyproc-Ультра ПС 100/40
                            td(data-th="Длина") 3000
                            td(data-th="Ширина")
                            td(data-th="Толщина")
                            td(data-th="Шт")
                            td(data-th="м²")
                            td(data-th="м³")
                            td(data-th="пог.м") 106
                            td(data-th="шт") 319
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg") 
                        tr
                            td(data-th="Наименование") Gyproc-Ультра ПН 50/37
                            td(data-th="Длина") 3000
                            td(data-th="Ширина")
                            td(data-th="Толщина")
                            td(data-th="Шт")
                            td(data-th="м²")
                            td(data-th="м³")
                            td(data-th="пог.м") 65
                            td(data-th="шт") 195
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg") 
                        tr
                            td(data-th="Наименование") Gyproc-Ультра ПН 66/37
                            td(data-th="Длина") 3000
                            td(data-th="Ширина")
                            td(data-th="Толщина")
                            td(data-th="Шт")
                            td(data-th="м²")
                            td(data-th="м³")
                            td(data-th="пог.м") 72
                            td(data-th="шт") 216
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg") 
                        tr
                            td(data-th="Наименование") Gyproc-Ультра ПН 75/37
                            td(data-th="Длина") 3000
                            td(data-th="Ширина")
                            td(data-th="Толщина")
                            td(data-th="Шт")
                            td(data-th="м²")
                            td(data-th="м³")
                            td(data-th="пог.м") 73
                            td(data-th="шт") 218
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg") 
                        tr
                            td(data-th="Наименование") Gyproc-Ультра ПН 100/37
                            td(data-th="Длина") 3000
                            td(data-th="Ширина")
                            td(data-th="Толщина")
                            td(data-th="Шт")
                            td(data-th="м²")
                            td(data-th="м³")
                            td(data-th="пог.м") 90
                            td(data-th="шт") 269
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg") 
                        tr
                            td(data-th="Наименование") Gyproc-Стандарт ПП 60/27
                            td(data-th="Длина") 3000
                            td(data-th="Ширина")
                            td(data-th="Толщина")
                            td(data-th="Шт")
                            td(data-th="м²")
                            td(data-th="м³")
                            td(data-th="пог.м") 60
                            td(data-th="шт") 181
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg") 
                        tr
                            td(data-th="Наименование") Gyproc-Стандарт ППН 28/27
                            td(data-th="Длина") 3000
                            td(data-th="Ширина")
                            td(data-th="Толщина")
                            td(data-th="Шт")
                            td(data-th="м²")
                            td(data-th="м³")
                            td(data-th="пог.м") 44
                            td(data-th="шт") 132
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg") 
                        tr
                            td(data-th="Наименование")| Gyproc-Стандарт ПН 50/40
                            td(data-th="Длина") 3000
                            td(data-th="Ширина")
                            td(data-th="Толщина")
                            td(data-th="Шт")
                            td(data-th="м²")
                            td(data-th="м³")
                            td(data-th="пог.м") 63
                            td(data-th="шт") 190
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg") 
                        tr
                            td(data-th="Наименование") Gyproc-Стандарт ПН 75/40
                            td(data-th="Длина") 3000
                            td(data-th="Ширина")
                            td(data-th="Толщина")
                            td(data-th="Шт")
                            td(data-th="м²")
                            td(data-th="м³")
                            td(data-th="пог.м") 71
                            td(data-th="шт") 212
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg") 
                        tr
                            td(data-th="Наименование") Gyproc-Стандарт ПН 100/40
                            td(data-th="Длина") 3000
                            td(data-th="Ширина")
                            td(data-th="Толщина")
                            td(data-th="Шт")
                            td(data-th="м²")
                            td(data-th="м³")
                            td(data-th="пог.м") 87
                            td(data-th="шт") 261
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg") 
                        tr
                            td(data-th="Наименование") Gyproc-Стандарт ПС 50/50
                            td(data-th="Длина") 3000
                            td(data-th="Ширина")
                            td(data-th="Толщина")
                            td(data-th="Шт")
                            td(data-th="м²")
                            td(data-th="м³")
                            td(data-th="пог.м") 74
                            td(data-th="шт") 221
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg") 
                        tr
                            td(data-th="Наименование") Gyproc-Стандарт ПС 75/50
                            td(data-th="Длина") 3000
                            td(data-th="Ширина")
                            td(data-th="Толщина")
                            td(data-th="Шт")
                            td(data-th="м²")
                            td(data-th="м³")
                            td(data-th="пог.м") 86
                            td(data-th="шт") 258
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg") 
                        tr
                            td(data-th="Наименование") Gyproc-Стандарт ПС 100/50
                            td(data-th="Длина") 3000
                            td(data-th="Ширина")
                            td(data-th="Толщина")
                            td(data-th="Шт")
                            td(data-th="м²")
                            td(data-th="м³")
                            td(data-th="пог.м") 103
                            td(data-th="шт") 310
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg") 
                        tr
                            td(data-th="Наименование") Gyproc-Ультра ПС 100/40
                            td(data-th="Длина") 8000
                            td(data-th="Ширина")
                            td(data-th="Толщина")
                            td(data-th="Шт")
                            td(data-th="м²")
                            td(data-th="м³")
                            td(data-th="пог.м") 106
                            td(data-th="шт") 319
                            td(colspan="2").full-price__buy 
                                img.svg(src="img/icons/cart.svg") 
            .info-block.info-block_green
                .container
                    |Эти цены не окончательные: чем больше объем продукции – тем ниже итоговая стоимость, 
                    |поэтому не стесняйтесь обсудить дополнительную скидку с личным менеджером!
            include pug/blocks/about
        include pug/blocks/footer.pug 