<!DOCTYPE html>
html(lang="en")
    include pug/blocks/head
    body
        .decor-rect
        include pug/blocks/header
        main(class="main-page")
            div(class="welcome")
                .container
                    div(class="welcome__left")
                        h1(class="welcome__title") ПРОДАЖА СТРОИТЕЛЬНЫХ МАТЕРИАЛОВ
                            br
                            | ПО ОПТОВЫМ ЦЕНАМ
                        //- form(class="search welcome__search")
                        //-     select(name="categories", class="js-example-basic-single search__select")
                        //-         option(value="Все категории", class="search__select-option") Все категории
                        //-         option(value="Электрика", class="search__select-option") Электрика
                        //-         option(value="Материалы", class="search__select-option") Материалы
                        //-         option(value="Электрика", class="search__select-option") Электрика
                        //-         option(value="Материалы", class="search__select-option") Материалы
                        //-         option(value="Электрика", class="search__select-option") Электрика
                        //-         option(value="Материалы", class="search__select-option") Материалы
                        //-     input(type="text", class="search__field", placeholder="Начните вводить нужную категорию ...")
                        //-     button(class="button search__find", type="submit")
                        //-         img(src="img/icons/search.svg", alt="Искать")
                        picture(class="welcome__discount-img-mobile")
                            source(type="image/webp"  srcset="img/banners/main-page-banner.webp")
                            img(src="img/banners/main-page-banner.png" alt="Кровля")
                        div(class="welcome__discount")
                            .welcome__discount-wrap
                                h2(class="welcome__discount-title") с нами выгодно строить
                                button(class="button welcome__discount-btn", data-form="получить прайс") ПОЛУЧИТЬ ПРАЙС
                            div(class="welcome__discount-img")
                                picture
                                    source(type="image/webp"  srcset="img/banners/main-page-banner.webp")
                                    img(src="img/banners/main-page-banner.png" alt="Кровля")
                        .welcome__categories
                            div(class="categories-block__grid-item")
                                a(href="full-price" class="categories-block__cat-name")
                                    div(class="categories-block__cat-icon")
                                        img(src="img/welcome/categories/isolation.svg", alt="Пены, клеи, герметики")
                                    span(class="categories-block__cat-title")  
                                        h3 Перейти в прайс лист
            .short-info.container
                h2.short-info__title Компания StroySales - поставщик ROCKWOOL® ISOVER®  ПЕНОПЛЕКС ® и других брендов в Санкт-Петербурге и Ленинградской области. С нашей помощью можно приобрести  по низкой цене любые строительные товары.
            //- include pug/blocks/advantages
            //- include pug/blocks/products
            include pug/blocks/products-slider
            include pug/blocks/about
            include pug/blocks/logo-slider
        include pug/blocks/footer