<!DOCTYPE html>
html(lang="en")
    include pug/blocks/head.pug
    body
        include pug/blocks/header.pug 
        main(class="main-page")
            div(class="welcome container")
                div(class="welcome__left")
                    h1(class="welcome__title") СТРОИТЕЛЬНЫЙ ДИСКОНТ
                        span(class="welcome__sales") Скидки от 
                            span(class="welcome__percent") 5%
                            span  до 
                            span(class="welcome__percent welcome__percent_double") 40% 
                        span(class="welcome__title-bottom") На строительные материалы от заводов, производств и магазинов.
                    //- form(class="search welcome__search")
                    //-     select(name="categories", class="js-example-basic-single search__select")
                    //-         option(value="Все категории", class="search__select-option") Все категории
                    //-         option(value="Электрика", class="search__select-option") Электрика
                    //-         option(value="Материалы", class="search__select-option") Материалы
                    //-         option(value="Электрика", class="search__select-option") Электрика
                    //-         option(value="Материалы", class="search__select-option") Материалы
                    //-         option(value="Электрика", class="search__select-option") Электрика
                    //-         option(value="Материалы", class="search__select-option") Материалы
                    //-     input(type="text", class="search__field", placeholder="Начните вводить нужную категорию ...")
                    //-     button(class="button search__find", type="submit")
                    //-         img(src="img/icons/search.svg", alt="Искать")
                    div(class="welcome__discount")
                        h2(class="welcome__discount-title") ДОПОЛНИТЕЛЬНАЯ СКИДКА 
                        span(class="welcome__discount-txt") НА СТРОЙМАТЕРИАЛЫ
                            b(class="welcome__discount-bold-txt")  ВЕСЬ АВГУСТ
                        button(class="button welcome__discount-btn", data-form="Акция августа") ХОЧУ СКИДКУ
                    div(class="welcome__footer-txt") Подбор стройматериалов, мебели и электроинструментов стал простым и выгодным. <br>
                        span(class="welcome__txt-info") *Гарантированная скидка на любой раздел на сайте, финальная скидка согласовывается по запросу. <br>
                        span(class="welcome__txt-info") **Для прорабов и фирм действует особое предложение! Уточняйте по телефону или в форме.
                div(class="welcome__instruments")
                    img(src="img/icons/instruments.svg", alt="видео о компании")
            include pug/blocks/categories
            include pug/blocks/markets
            include pug/blocks/services
            include pug/blocks/about
        include pug/blocks/footer.pug 