@import 'scss/reset.scss';
@import 'scss/variables.scss';

html {
    font-size: 15px;

    @include container {
        font-size: 14px;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
.container {
    max-width: 1150px;
    display: block;
    margin: auto;

    @include container {
        padding-left: 25px;
        padding-right: 25px;
    }
}

@import 'scss/button.scss';
@import 'scss/header.scss';
@import 'scss/menu.scss';
@import 'scss/footer.scss';