@import 'scss/reset.scss';
@import 'scss/variables.scss';
@import 'scss/select2.min.scss';

html {
    font-size: 15px;
    color: $soft-black;

    @include container {
        font-size: 14px;
    }
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
.container {
    max-width: 1150px;
    display: block;
    margin: auto;

    @include mobile {
        padding: 0 20px;
    }

    @include container {
        padding-left: 25px;
        padding-right: 25px;
    }
}

@import 'scss/button.scss';
@import 'scss/header.scss';
@import 'scss/menu.scss';
@import 'scss/footer.scss';
@import 'scss/subtitle.scss';
@import 'scss/welcome.scss';
@import 'scss/categories.scss';
@import 'scss/markets.scss';
@import 'scss/services.scss';
@import 'scss/about.scss';
@import 'scss/form.scss';
@import 'scss/call-animation.scss';