.button {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 13px;
    line-height: 25px;
    padding: 7px 22px;
    border-radius: 0;
    background-color: $green;
    position: relative;
    cursor: pointer;
    border-radius: 20px;

    &:hover {

        &:after,
        &:before {
            transform: translateX(0);
        }
    }

    &_green {
        border: 2px solid $yellow;
        background-color: $yellow;
        transition: all ease-out .2s;

        &::after,
        &::before {
            display: none;
        }

        &:hover {
            background-color: darken($yellow, 10%);
        }
    }
}