.footer {
    background-color: $soft-black;

    &__media {
        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #2C2C2C;
            padding-top: 21px;
            padding-bottom: 21px;
        }
    }

    &__soc {
        display: flex;
    }

    &__soc-item {
        list-style: none;
        margin-right: 3px;

        path {
            transition: ease-in-out .2s;
        }

        &:hover {
            svg>path {
                fill: $base-green;
            }
        }
    }

    &__main {
        .container {
            display: flex;
            align-items: stretch;
        }
    }

    &__main-item {
        width: calc(100%/3);
        border-right: 1px solid #2C2C2C;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 25px;
        padding-bottom: 21px;

        &:last-child {
            border-right: 0;
        }

        .contacts {
            justify-content: center;
            margin-top: 40px;
        }
    }

    &__info {

        .contacts {
            padding-right: 30px;
        }
    }

    &__logo {
        margin-top: 7px;
        display: block;
    }

    &__info-text {
        font-weight: normal;
        font-size: 0.9375rem;
        line-height: 1.25rem;
        color: #FFFFFF;
        max-width: 327px;
        margin-top: 14px;
    }

    &__about {
        margin-top: 17px;
    }

    &__title {
        font-weight: bold;
        font-size: 1.125rem;
        line-height: 1.5625rem;
        color: #FFFFFF;
        margin: 16px 0 26px;
        position: relative;

        &:after {
            content: '';
            width: 42px;
            background-color: #fff;
            height: 2px;
            bottom: -12px;
            left: 0;
            display: block;
            position: absolute;
        }
    }

    &__menu-list {
        max-height: 162px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
    }

    &__menu-item {
        margin: 0;
        padding: 0;
        list-style: none;

        a {
            font-weight: normal;
            font-size: 0.9375rem;
            line-height: 1.375rem;
            color: #FFFFFF;
            text-decoration: none;

            &:hover {
                .footer__menu-arrow {
                    transform: translateX(3px);
                }
            }
        }
    }

    &__menu-arrow {
        margin-right: 7px;
        transition: ease-in-out .2s;
    }

    // news block
    &__news {
        margin-top: 17px;
    }

    &__news-item {
        display: flex;
        align-items: center;
        padding-bottom: 16px;
        text-decoration: none;
        transition: ease-in-out .2s;

        &:hover {
            transform: translateX(3px);
        }

        &:first-child {
            margin-bottom: 22px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }
    }

    &__news-img {
        margin-right: 19px;
        max-height: 64px;
        object-fit: cover;
        object-position: center;
    }

    &__news-date {
        font-weight: normal;
        font-size: 0.9375rem;
        line-height: 1.375rem;
        color: $base-green;
    }

    &__news-desc {
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: #FFFFFF;
    }

    &__bottom {
        padding: 21px 0;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: #FFFFFF;

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__bottom-list {
        display: flex;
        margin: 0;
        padding: 0;

        a {
            text-decoration: none;
            color: inherit;
        }
    }

    &__bottom-list-item {
        padding: 0;
        margin: 0;
        list-style: none;
        margin-right: 26px;

        &:last-child {
            margin-right: 0;
        }
    }
}