.header {
    padding-top: 10px;
    position: relative;

    @include tablet {
        padding-top: 20px;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: stretch;

        @include tablet {
            background: #fff;
            flex-wrap: wrap;
            align-items: flex-end;
        }
    }

    &:before {
        content: '';
        background: $yellow;
        top: 0;
        left: 40px;
        width: 130vw;
        height: 1180px;
        transform: rotate(-7deg) translateY(-50%);
        border-bottom-left-radius: 100px;
        position: absolute;
        z-index: -1;

        @include tablet {
            width: 100vw;
            left: 0;
            transform: unset;
            border-radius: 0;
            height: 928px;
        }
    }

    &__hot {
        display: flex;
        align-items: flex-end;
        cursor: pointer;

        @include tablet {
            margin-top: 8px;
        }

        b {
            font-weight: bold;
            padding: 0px 9px 2px;
        }
    }

    &__logo {
        display: block;
        margin-top: 28px;

        img {
            max-width: 100%;
        }

        @include tablet {
            max-width: 50vw;
        }
    }

    &__middle {
        flex: auto;
        padding-left: 57px;
        margin-bottom: 10px;
        align-self: flex-end;
        position: relative;

        @include tablet {
            padding-left: 0;
            margin-top: 20px;
            width: 100%;
        }

        &:before {
            content: '';
            display: block;
            border: 42px solid transparent;
            border-left: 130vw solid #FFF;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
            position: absolute;

            @include tablet {
                display: none;
            }
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5px;

        @include tablet {
            display: none;
        }
    }

    &__link {
        text-decoration: none;
        color: inherit;
    }

    &__tel {
        font-weight: bold;
        font-size: 20px;
        line-height: 20px;
    }

    &__mail {
        font-weight: 300;
        font-size: 16px;
        line-height: 25px;
    }

    &__callback {
        margin-top: 7px;
    }
}