.header {

    &__nav {
        color: white;
        background-color: $base-green;

        .container {
            display: flex;
            justify-content: space-between;
            align-items: stetch;
        }
    }

    &__right {
        display: flex;
        align-items: center;
    }

    &__soc {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:after {
            content: '';
            display: block;
            height: 34px;
            width: 1px;
            background-color: #fff;
            margin-left: 25px;
        }
    }

    &__soc-item {
        padding: 0;
        margin: 0;
        margin-right: 14px;
        list-style: none;

        a {
            display: flex;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__city {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        height: 100%;
        margin-left: 25px;
        cursor: pointer;
        line-height: 1.1875rem;
        font-size: 0.875rem;
    }

    &__city-top {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        span {
            color: #E8E8E8;
            font-weight: 400;
            margin-left: 3px;
        }
    }

    &__city-arrow {
        transition: ease-in-out .2s;
    }

    &__city-bottom {
        font-weight: bold;
    }

    &__lang {
        height: 100%;
        margin-left: 17px;
        position: relative;
    }

    &__lang-wrap {
        padding: 0px 15px;
        background-color: #fff;
        cursor: pointer;
        display: none;
        align-items: center;
        min-width: 130px;
        height: 100%;
        z-index: 2;
        position: relative;

        &.active {
            display: flex;
        }
    }

    &__lang-select {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: #fff;
        position: absolute;
        top: 100%;
        transform: translateY(-100%);
        width: 100%;
        left: 0;
        transition: ease-out .25s;
    }

    &__lang-item {
        display: flex;
        align-items: center;
        padding: 10px 15px;
    }

    &__lang-text {
        font-weight: bold;
        font-size: 0.875rem;
        line-height: 1.1875rem;
        color: $base-green;
        margin-left: 10px;
    }

    &__lang-arrow {
        margin-left: 10px;

        path {
            fill: $base-green;
        }
    }

    &__info {
        padding: 30px 0;

        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__info-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 710px;
        padding-right: 41px;
    }

    &__menu {
        .container {
            display: flex;
            justify-content: space-between;
            align-items: stretch;

            &::before {
                content: '';
                display: block;
                border-bottom: 70px solid $base-green;
                border-left: 53px solid transparent;
            }
            
            &::after {
                content: '';
                display: block;
                border-bottom: 70px solid $base-green;
                border-right: 53px solid transparent;
            }

            .menu {
                flex: auto;
            }
        }
    }
}