.menu {
    color: #2B2A29;
    display: flex;
    font-weight: normal;
    font-size: 12px;
    line-height: 25px;

    &__item {
        margin-right: 35px;
        list-style: none;

        &:last-child {
            margin-right: 0;
        }

        a {
            text-decoration: none;
            color: inherit;
        }
    }
}