.short-info {
	& + .info-block {
		margin-top: 56px;
	}
	&__title {
		text-align: center;
		font-weight: bold;
		font-size: 22px;
		line-height: 34px;
		@include mobile {
			line-height: normal;
			font-size: 18px;
		}
	}

	&__list {
		margin-top: 35px;
	}

	&__list-item {
		margin-bottom: 10px;
		font-weight: normal;
		font-size: 20px;
		line-height: 24px;
		display: flex;
		@include mobile {
			font-size: 14px;
			line-height: normal;
			margin-bottom: 15px;
			text-align: left;
		}
		&:before {
			content: '';
			min-width: 15px;
			height: 15px;
			margin-right: 17px;
			border-radius: 50%;
			background-color: $green;
			position: relative;
			top: 5px;
		}
	}
}
