.subtitle {
    text-align: center;
    padding: 25px 0;

    &__title {
        font-size: 30px;
        line-height: 34px;
    }

    &__txt {
        display: block;
        font-size: 15px;
        line-height: 23px;
        padding-top: 20px;
    }
}