$yellow: #ffed00;
$green: #40c700;
$soft-black: #2b2a29;
$red: #ed1c24;
$blue: #004990;

//--------DEVICE SIZE--------
$small-mobile: 400px;
$tablet-width: 768px;
$desktop-width: 1023px;
$container-width: 1250px;

@mixin small-mobile {
	@media (max-width: $small-mobile) {
		@content;
	}
}

@mixin mobile {
	@media (max-width: #{$tablet-width - 1px}) {
		@content;
	}
}

@mixin tablet {
	@media (max-width: #{$desktop-width}) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: #{$desktop-width + 1px}) {
		@content;
	}
}

@mixin container {
	@media (min-width: #{$desktop-width}) and (max-width: #{$container-width}) {
		@content;
	}
}
